@charset "UTF-8";
body {
  background-color: #15DEA5;
  font-family: "Roboto", sans-serif;
  margin: 0px;
}

.btn {
  padding: 1.5rem;
  background: #15DEA5;
  cursor: pointer;
  border-radius: 100rem;
  font-size: 1.5rem;
  color: #fff;
}

.logo-ohmyfood-1 {
  padding: 1rem;
  box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.25);
  position: relative;
}

.html {
  width: 100%;
  margin: 0px;
}

a {
  text-decoration: none;
}

a.mail {
  color: white;
}

.premier {
  display: flex;
  justify-content: center;
  align-items: center;
}

.deuxieme {
  display: flex;
  justify-content: center;
  align-items: center;
}

.troisieme {
  display: flex;
  justify-content: center;
  align-items: center;
}

.quatrieme {
  display: flex;
  justify-content: center;
  align-items: center;
}

.image-1 {
  background-image: url(images/restaurants/jay-wennington-N_Y88TWmGwA-unsplash.jpg);
  background-size: cover;
  background-position: center;
  height: 192px;
  width: 100%;
  border-radius: 15px 15px 0 0;
  position: relative;
  cursor: pointer;
}

.image-2 {
  background-image: url(images/restaurants/stil-u2Lp8tXIcjw-unsplash.jpg);
  background-size: cover;
  background-position: center;
  height: 192px;
  width: 100%;
  border-radius: 15px 15px 0 0;
  position: relative;
  cursor: pointer;
}

.image-3 {
  background-image: url(images/restaurants/toa-heftiba-DQKerTsQwi0-unsplash.jpg);
  background-size: cover;
  background-position: center;
  height: 192px;
  width: 100%;
  border-radius: 15px 15px 0 0;
  cursor: pointer;
}

.image-4 {
  background-image: url(images/restaurants/louis-hansel-shotsoflouis-qNBGVyOCY8Q-unsplash.jpg);
  background-size: cover;
  background-position: center;
  height: 192px;
  width: 100%;
  border-radius: 15px 15px 0 0;
  cursor: pointer;
}

.texte-restaurant-bloc-1 {
  align-items: center;
  border-radius: 0 0 10px 10px;
  height: 70px;
  width: 400px;
  background-color: #fff;
}

.texte-restaurant-bloc-2 {
  cursor: pointer;
  align-items: center;
  border-radius: 0 0 10px 10px;
  height: 70px;
  width: 400px;
  background-color: #fff;
}
@media (max-width: 800px) {
  .texte-restaurant-bloc-2 {
    margin-bottom: 20px;
  }
}

.texte-restaurant-bloc-3 {
  cursor: pointer;
  align-items: center;
  border-radius: 0 0 10px 10px;
  height: 70px;
  width: 400px;
  background-color: #fff;
}
@media (max-width: 800px) {
  .texte-restaurant-bloc-3 {
    margin-bottom: 20px;
  }
}

.texte-restaurant-bloc-4 {
  cursor: pointer;
  align-items: center;
  border-radius: 0 0 10px 10px;
  height: 70px;
  width: 400px;
  background-color: #fff;
}
@media (max-width: 800px) {
  .texte-restaurant-bloc-4 {
    margin-bottom: 20px;
  }
}

.ohmyfood-1 {
  padding-left: 5px;
  padding-top: 5px;
}

.ohmyfood-1 {
  padding: 15px;
  width: 160px;
}

.logo-ohmyfood-1 {
  background-color: #fff;
  text-align: center;
  padding: 2rem 1rem 1rem;
  position: relative;
}

.ohmyfood-2 {
  width: 25%;
  color: white;
  font-family: Shrikhand, "cursive";
}

.loupe {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  background-color: #F3F3F3;
  text-align: center;
  padding: 2rem;
}

.text1 {
  margin-top: 2rem;
}

.text2 {
  margin-top: 1rem;
  margin-bottom: 2rem;
}

.pass {
  background-color: ƒF2F2F2;
  height: 200px;
  margin-bottom: 20px;
  padding: 2rem;
}

.papa {
  padding: 0rem 1rem;
}

.search {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 220px;
  margin-bottom: 20px;
  background-color: #686868;
  color: #fff;
  background-image: linear-gradient(0deg, #9356DC, #FF79DA);
  padding: 0.75rem 1.5rem;
  border-radius: 100px;
  cursor: pointer;
  filter: brightness(1);
}
.search:hover {
  transition-duration: 0.25s;
  filter: brightness(1.75);
  box-shadow: 0.25rem 0.25rem 10px rgba(0, 0, 0, 0.25);
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 5rem;
}

p {
  justify-content: center;
  align-items: center;
  margin: 0px;
}

.toto ol {
  display: flex;
  padding: 1rem 0rem;
  gap: 2rem;
}
@media (max-width: 800px) {
  .toto ol {
    flex-direction: column;
  }
}
.toto li {
  border-radius: 1rem;
  background-color: #F2F2F2;
  padding: 1rem 2rem;
  flex-grow: 1;
  height: 20px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  box-shadow: 0px 5px 5px 5px #D5D9E0;
}

main {
  margin-top: 30px;
  background-color: #F3F3F3;
}

footer {
  background-color: #303030;
  color: white;
  height: 225px;
}

h2 {
  padding-left: 6%;
  margin-top: 0px;
}

h3 {
  justify-content: center;
  align-items: center;
}

.ph-1 {
  padding-left: 5%;
}

.ph-2 {
  padding-left: 5%;
}

.ph-3 {
  padding-left: 6%;
  padding-top: 10px;
}

.ph-4 {
  padding-left: 6%;
  padding-top: 10px;
  cursor: pointer;
}

i fas {
  margin-right: 1rem;
}

li ::marker {
  color: transparent;
}

.roro {
  position: relative;
}

.riri {
  position: relative;
}

.ruru {
  position: relative;
}

.coeur1 {
  position: absolute;
  justify-content: center;
  align-items: center;
  padding-right: 20px;
  padding-top: 20px;
}

.coeur2 {
  z-index: 1;
  color: white;
  justify-content: center;
  align-items: center;
  padding-right: 20px;
  padding-top: 20px;
}

.coeur:hover .coeur2 {
  color: #ff7cf8;
}

.chiffre {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  background-color: #9356DC;
  position: absolute;
  left: -10px;
  top: calc(50% - 10px);
  width: 20px;
  height: 20px;
  border-radius: 50%;
}

.chiffre2 {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  background-color: #9356DC;
  position: absolute;
  left: -10px;
  top: calc(50% - 10px);
  width: 20px;
  height: 20px;
  border-radius: 50%;
}

.chiffre3 {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  background-color: #9356DC;
  position: absolute;
  left: -10px;
  top: calc(50% - 10px);
  width: 20px;
  height: 20px;
  border-radius: 50%;
}

.menu {
  background-color: #F2F2F2;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.titi {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.tyty {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.tata {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.tutu {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.log {
  padding-left: 15px;
  padding-top: 15px;
}

.cube-1 {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 1rem;
  margin-bottom: 80px;
}
@media (max-width: 850px) {
  .cube-1 {
    flex-direction: column;
  }
}
@media (max-width: 800px) {
  .cube-1 {
    margin-bottom: 0px;
  }
}

.cube-2 {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 10px;
}
@media (max-width: 850px) {
  .cube-2 {
    flex-direction: column;
  }
}

i.fa {
  padding: 10px;
}

.mot1 {
  padding-left: 15px;
  padding-top: 15px;
  color: black;
}

.mot2 {
  padding-left: 15px;
  padding-top: 15px;
  color: black;
}

.mot3 {
  padding-left: 15px;
  padding-top: 15px;
  color: black;
}

.mot4 {
  padding-left: 15px;
  padding-top: 15px;
  color: black;
}

li::marker {
  color: transparent;
}

h3 {
  margin-left: 10px;
}

span.new {
  background-color: #99E2D0;
  color: #3e9cbf;
  position: absolute;
  border-radius: 0, 125rem;
  top: 1rem;
  left: 20rem;
  padding: 7px;
  border-radius: 0, 125rem;
}

span.news {
  background-color: #99E2D0;
  color: #3e9cbf;
  position: absolute;
  border-radius: 0, 125rem;
  top: 1rem;
  left: 20rem;
  padding: 7px;
  border-radius: 0, 125rem;
}

.move {
  position: fixed;
  display: grid;
  place-items: center;
  background-color: #FFF;
  height: 100vh;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  inset: 0rem;
  z-index: 1;
  opacity: 0, 9;
}

@keyframes dissapears {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
.move {
  animation: dissapears 200ms;
  animation-fill-mode: forwards;
  transform-origin: top;
  animation-delay: 5s;
}

body {
  background-color: #F2F2F2;
  margin: 0px;
  font-family: Roboto, sans-serif;
}

.logo {
  background-color: #fff;
  text-align: center;
  padding: 2rem 1rem 1rem;
  position: relative;
}

.ohmyfood {
  width: 160px;
  position: relative;
}

.gogo {
  position: absolute;
  left: 50px;
}

.image-menu-1 {
  background-image: url(images/restaurants/jay-wennington-N_Y88TWmGwA-unsplash.jpg);
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 300px;
}

.flexo-1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  margin-top: -2rem;
  border-radius: 20px 20px 0 0;
  background-color: #F2F2F2;
  margin-bottom: 0px;
}

h3 {
  position: relative;
  text-transform: uppercase;
  padding-bottom: 0, 25rem;
  font-weight: 400;
  margin-top: 0px;
}

h3.menu1-entree {
  margin-top: 20px;
}

h3.menu1-plat {
  margin-top: 20px;
}

h3.menu1-dessert {
  margin-top: 20px;
}

.trait-1 {
  content: "";
  width: 3rem;
  height: 0.25rem;
  background-color: #99E2D0;
  position: absolute;
  margin-left: 1rem;
}

.trait-2 {
  content: "";
  width: 3rem;
  height: 0.25rem;
  background-color: #99E2D0;
  position: absolute;
  margin-left: 1rem;
}

.trait-3 {
  content: "";
  width: 3rem;
  height: 0.25rem;
  background-color: #99E2D0;
  position: absolute;
  margin-left: 1rem;
}

.coeurs {
  margin: 0px;
}

h2.palette {
  font-family: Shrikhand;
}

h4 {
  margin-bottom: 0px;
}

.menu1__entree-1 {
  height: 55px;
  background-color: white;
  border-radius: 15px 15px 15px 15px;
  margin-top: 3rem;
  margin-left: 1rem;
  margin-right: 1rem;
  box-shadow: 10px 5px 5px #a9af90;
  cursor: pointer;
  overflow: hidden;
}
.menu1__entree-1:hover .true {
  margin-right: 0px;
}

.menu1__entree-2 {
  height: 55px;
  background-color: white;
  border-radius: 15px 15px 15px 15px;
  box-shadow: 10px 5px 5px #a9af90;
  cursor: pointer;
  margin-top: 3rem;
  margin-left: 1rem;
  margin-right: 1rem;
  overflow: hidden;
}
.menu1__entree-2:hover .true {
  margin-right: 0px;
}

.menu1__entree-3 {
  height: 55px;
  background-color: white;
  border-radius: 15px 15px 15px 15px;
  box-shadow: 10px 5px 5px #a9af90;
  cursor: pointer;
  margin-top: 3rem;
  margin-left: 1rem;
  margin-right: 1rem;
  overflow: hidden;
}
.menu1__entree-3:hover .true {
  margin-right: 0px;
}

.menu1__plat-1 {
  height: 55px;
  background-color: white;
  border-radius: 15px 15px 15px 15px;
  box-shadow: 10px 5px 5px #a9af90;
  cursor: pointer;
  margin-top: 3rem;
  margin-left: 1rem;
  margin-right: 1rem;
  overflow: hidden;
}
.menu1__plat-1:hover .true {
  margin-right: 0px;
}

.menu1__plat-2 {
  height: 55px;
  background-color: white;
  border-radius: 15px 15px 15px 15px;
  box-shadow: 10px 5px 5px #a9af90;
  cursor: pointer;
  margin-top: 3rem;
  margin-left: 1rem;
  margin-right: 1rem;
  overflow: hidden;
}
.menu1__plat-2:hover .true {
  margin-right: 0px;
}

.menu1__plat-3 {
  height: 55px;
  background-color: white;
  border-radius: 15px 15px 15px 15px;
  box-shadow: 10px 5px 5px #a9af90;
  cursor: pointer;
  margin-top: 3rem;
  margin-left: 1rem;
  margin-right: 1rem;
  overflow: hidden;
}
.menu1__plat-3:hover .true {
  margin-right: 0px;
}

.menu1__dessert-1 {
  height: 55px;
  background-color: white;
  border-radius: 15px 15px 15px 15px;
  box-shadow: 10px 5px 5px #a9af90;
  cursor: pointer;
  margin-top: 3rem;
  margin-left: 1rem;
  margin-right: 1rem;
  overflow: hidden;
}
.menu1__dessert-1:hover .true {
  margin-right: 0px;
}

.menu1__dessert-2 {
  height: 55px;
  background-color: white;
  border-radius: 15px 15px 15px 15px;
  box-shadow: 10px 5px 5px #a9af90;
  cursor: pointer;
  margin-top: 3rem;
  margin-left: 1rem;
  margin-right: 1rem;
  overflow: hidden;
}
.menu1__dessert-2:hover .true {
  margin-right: 0px;
}

.menu1__dessert-3 {
  height: 55px;
  background-color: white;
  border-radius: 15px 15px 15px 15px;
  box-shadow: 10px 5px 5px #a9af90;
  cursor: pointer;
  margin-top: 3rem;
  margin-left: 1rem;
  margin-right: 1rem;
  overflow: hidden;
}
.menu1__dessert-3:hover .true {
  margin-right: 0px;
}

.menu1__fixe {
  padding: 2px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 55px;
}

.menu1__fixe-1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 55px;
}

.menu1__fixe-2 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 55px;
}

.menu1__fixe-3 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 55px;
}

.menu1__fixe-4 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 55px;
}

.menu1__fixe-5 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 55px;
}

.menu1__fixe-6 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 55px;
}

.menu1__fixe-7 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 55px;
}

.menu1__fixe-8 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 55px;
}

.menu-info-1 {
  justify-content: center;
  align-items: center;
}

.menu-info-2 {
  justify-content: center;
  align-items: center;
}

.menu-info-3 {
  justify-content: center;
  align-items: center;
}

.globalmenu-1 {
  display: grid;
}

.globalmenu-1 {
  grid-template-columns: repeat(3, 1fr);
  column-gap: 0, 75rem;
}

.btn2 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 120px;
  margin-bottom: 20px;
  background-color: #686868;
  color: #fff;
  background-image: linear-gradient(0deg, #9356DC, #FF79DA);
  padding: 0.75rem 1.5rem;
  border-radius: 100px;
  cursor: pointer;
  filter: brightness(1);
}
.btn2:hover {
  transition-duration: 0.25s;
  filter: brightness(1.75);
  box-shadow: 0.25rem 0.25rem 10px rgba(0, 0, 0, 0.25);
}

.commander {
  margin-top: 25px;
  display: grid;
  place-items: center;
}

.coeur1 {
  position: absolute;
  justify-content: center;
  align-items: center;
  padding-right: 20px;
  padding-top: 20px;
}

.coeur2 {
  z-index: 1;
  color: white;
  justify-content: center;
  align-items: center;
  padding-right: 20px;
  padding-top: 20px;
}

.coeur:hover .coeur2 {
  color: #ff7cf8;
  transition: 1s;
}

h4 {
  padding: 4px;
  margin-left: 4px;
}

p {
  padding: 4px;
  margin-left: 4px;
}

a.mail {
  color: white;
}

@media (max-width: 800px) {
  .globalmenu-1 {
    display: flex;
    flex-direction: column;
  }
}

.price {
  font-weight: 900;
  background-color: white;
  height: 55px;
  width: 55px;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}

.true {
  background-color: #99E2D0;
  width: 55px;
  height: 55px;
  display: grid;
  place-items: center;
  border-radius: 0 1rem 1rem 0;
  margin-right: -55px;
  transition: 1s;
}

.prix {
  display: flex;
  justify-content: end;
}

.piment {
  margin-bottom: 1rem;
}

.fa-circle-check {
  background-color: white;
  border-radius: 50%;
  color: #99E2D0;
}

section {
  animation: appear 3s;
  opacity: 0;
  width: 100%;
  animation-fill-mode: forwards;
}

section:first-child {
  animation-delay: 2s;
}

section:nth-child(2) {
  animation-delay: 4s;
}

section:last-child {
  animation-delay: 6s;
}

@keyframes appear {
  0% {
    transform: translateY(50%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
/*
@keyframes appear{
    0%{
        transform:scale(0);
    }
    100%{
        transform: scale(1);
    }
}
fin a voir lequel garder
*/
body {
  background-color: #F2F2F2;
  margin: 0px;
  font-family: Roboto, sans-serif;
}

.logo {
  background-color: #fff;
  text-align: center;
  padding: 2rem 1rem 1rem;
  position: relative;
}

a.mail {
  color: white;
}

.ohmyfood {
  width: 160px;
  position: relative;
  font-family: Shrikhand;
}

.gogo {
  position: absolute;
  left: 50px;
}

.image-menu-2 {
  background-image: url(images/restaurants/stil-u2Lp8tXIcjw-unsplash.jpg);
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 300px;
}

.flexo-2 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  margin-top: -2rem;
  border-radius: 20px 20px 0 0;
  background-color: #F2F2F2;
  margin-bottom: 0px;
}

h3 {
  position: relative;
  text-transform: uppercase;
  padding-bottom: 0, 25rem;
  font-weight: 400;
  margin-top: 0px;
}

h3.menu2-entree {
  margin-top: 20px;
}

h3.menu2-plat {
  margin-top: 20px;
}

h3.menu2-dessert {
  margin-top: 20px;
}

.trait-1 {
  content: "";
  width: 3rem;
  height: 0.25rem;
  background-color: #99E2D0;
  position: absolute;
  margin-left: 1rem;
}

.trait-2 {
  content: "";
  width: 3rem;
  height: 0.25rem;
  background-color: #99E2D0;
  position: absolute;
  margin-left: 1rem;
}

.trait-3 {
  content: "";
  width: 3rem;
  height: 0.25rem;
  background-color: #99E2D0;
  position: absolute;
  margin-left: 1rem;
}

.coeurs {
  margin: 0px;
}

.coeur1 {
  position: absolute;
  justify-content: center;
  align-items: center;
  padding-right: 20px;
  padding-top: 20px;
}

.coeur2 {
  z-index: 1;
  color: white;
  justify-content: center;
  align-items: center;
  padding-right: 20px;
  padding-top: 20px;
}

.coeur:hover .coeur2 {
  color: #ff7cf8;
}

section {
  width: 100%;
}

h4 {
  margin-bottom: 0px;
}

.menu2__entree-1 {
  height: 55px;
  background-color: white;
  border-radius: 15px 15px 15px 15px;
  margin-top: 3rem;
  margin-left: 1rem;
  margin-right: 1rem;
  box-shadow: 10px 5px 5px #a9af90;
  cursor: pointer;
  overflow: hidden;
}
.menu2__entree-1:hover .true {
  margin-right: 0px;
}

.menu2__entree-2 {
  height: 55px;
  background-color: white;
  border-radius: 15px 15px 15px 15px;
  box-shadow: 10px 5px 5px #a9af90;
  margin-top: 3rem;
  margin-left: 1rem;
  margin-right: 1rem;
  cursor: pointer;
  overflow: hidden;
}
.menu2__entree-2:hover .true {
  margin-right: 0px;
}

.menu2__entree-3 {
  height: 55px;
  background-color: white;
  border-radius: 15px 15px 15px 15px;
  box-shadow: 10px 5px 5px #a9af90;
  margin-top: 3rem;
  margin-left: 1rem;
  margin-right: 1rem;
  cursor: pointer;
  overflow: hidden;
}
.menu2__entree-3:hover .true {
  margin-right: 0px;
}

.menu2__entree-4 {
  height: 55px;
  background-color: white;
  border-radius: 15px 15px 15px 15px;
  box-shadow: 10px 5px 5px #a9af90;
  margin-top: 3rem;
  margin-left: 1rem;
  margin-right: 1rem;
  cursor: pointer;
  overflow: hidden;
}
.menu2__entree-4:hover .true {
  margin-right: 0px;
}

.menu2__plat-1 {
  height: 55px;
  background-color: white;
  border-radius: 15px 15px 15px 15px;
  box-shadow: 10px 5px 5px #a9af90;
  margin-top: 3rem;
  margin-left: 1rem;
  margin-right: 1rem;
  cursor: pointer;
  overflow: hidden;
}
.menu2__plat-1:hover .true {
  margin-right: 0px;
}

.menu2__plat-2 {
  height: 55px;
  background-color: white;
  border-radius: 15px 15px 15px 15px;
  box-shadow: 10px 5px 5px #a9af90;
  margin-top: 3rem;
  margin-left: 1rem;
  margin-right: 1rem;
  cursor: pointer;
  overflow: hidden;
}
.menu2__plat-2:hover .true {
  margin-right: 0px;
}

.menu2__plat-3 {
  height: 55px;
  background-color: white;
  border-radius: 15px 15px 15px 15px;
  box-shadow: 10px 5px 5px #a9af90;
  margin-top: 3rem;
  margin-left: 1rem;
  margin-right: 1rem;
  cursor: pointer;
  overflow: hidden;
}
.menu2__plat-3:hover .true {
  margin-right: 0px;
}

.menu2__dessert-1 {
  height: 55px;
  background-color: white;
  border-radius: 15px 15px 15px 15px;
  margin-top: 3rem;
  margin-left: 1rem;
  margin-right: 1rem;
  cursor: pointer;
  box-shadow: 10px 5px 5px #a9af90;
  overflow: hidden;
}
.menu2__dessert-1:hover .true {
  margin-right: 0px;
}

.menu2__dessert-2 {
  height: 55px;
  background-color: white;
  border-radius: 15px 15px 15px 15px;
  box-shadow: 10px 5px 5px #a9af90;
  margin-top: 3rem;
  margin-left: 1rem;
  margin-right: 1rem;
  cursor: pointer;
  overflow: hidden;
}
.menu2__dessert-2:hover .true {
  margin-right: 0px;
}

.menu2__dessert-3 {
  height: 55px;
  background-color: white;
  border-radius: 15px 15px 15px 15px;
  box-shadow: 10px 5px 5px #a9af90;
  margin-top: 3rem;
  margin-left: 1rem;
  margin-right: 1rem;
  cursor: pointer;
  overflow: hidden;
}
.menu2__dessert-3:hover .true {
  margin-right: 0px;
}

.menu2__fixe {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 55px;
}

.menu2__fixe-1 {
  padding: 2px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 55px;
}

.menu2__fixe-2 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 55px;
}

.menu2__fixe-3 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 55px;
}

.menu2__fixe-4 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 55px;
}

.menu2__fixe-5 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 55px;
}

.menu2__fixe-6 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 55px;
}

.menu2__fixe-7 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 55px;
}

.menu2__fixe-8 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 55px;
}

.menu2__fixe-9 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 55px;
}

.menu-info-1 {
  justify-content: center;
  align-items: center;
}

.globalmenu-2 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 0, 75rem;
}

.btn2 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 120px;
  margin-bottom: 20px;
  background-color: #686868;
  color: #fff;
  background-image: linear-gradient(0deg, #9356DC, #FF79DA);
  padding: 0.75rem 1.5rem;
  border-radius: 100px;
  cursor: pointer;
  /*transition-duration: .25s;
  box-shadow: 0.25rem 0.25rem 10px rgb(0 0 0 / 25%);*/
}

.commander {
  margin-top: 25px;
  display: grid;
  place-items: center;
}

h4 {
  padding: 4px;
  margin-left: 4px;
}

p {
  padding: 4px;
  margin-left: 4px;
}

p.prix {
  padding: 8px;
}

@media (max-width: 800px) {
  .globalmenu-2 {
    display: flex;
    flex-direction: column;
  }
}

.price {
  font-weight: 900;
  background-color: white;
  height: 55px;
  width: 55px;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}

.true {
  background-color: #99E2D0;
  width: 55px;
  height: 55px;
  display: grid;
  place-items: center;
  border-radius: 0 1rem 1rem 0;
  margin-right: -55px;
  transition: 1s;
}

.prix {
  display: flex;
  justify-content: end;
}

.piment {
  margin-bottom: 1rem;
}

.fa-circle-check {
  background-color: white;
  border-radius: 50%;
  color: #99E2D0;
}

body {
  background-color: #F2F2F2;
  margin: 0px;
  font-family: Roboto, sans-serif;
}

.logo {
  background-color: #fff;
  text-align: center;
  padding: 2rem 1rem 1rem;
  position: relative;
}

.gogo {
  position: absolute;
  left: 50px;
}

.ohmyfood {
  width: 160px;
  position: relative;
}

a.mail {
  color: white;
}

.coeur1 {
  position: absolute;
  justify-content: center;
  align-items: center;
  padding-right: 20px;
  padding-top: 20px;
}

.coeur2 {
  z-index: 1;
  color: white;
  justify-content: center;
  align-items: center;
  padding-right: 20px;
  padding-top: 20px;
}

.coeur:hover .coeur2 {
  color: #ff7cf8;
}

.image-menu-3 {
  background-image: url(images/restaurants/toa-heftiba-DQKerTsQwi0-unsplash.jpg);
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 300px;
}

.flexo-3 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  margin-top: -2rem;
  border-radius: 20px 20px 0 0;
  background-color: #F2F2F2;
  margin-bottom: 0px;
}

h3 {
  position: relative;
  text-transform: uppercase;
  padding-bottom: 0, 25rem;
  font-weight: 400;
  margin-top: 0px;
}

h3.menu3-entree {
  margin-top: 20px;
}

h3.menu3-plat {
  margin-top: 20px;
}

h3.menu3-dessert {
  margin-top: 20px;
}

.trait-1 {
  content: "";
  width: 3rem;
  height: 0.25rem;
  background-color: #99E2D0;
  position: absolute;
  margin-left: 1rem;
}

.trait-2 {
  content: "";
  width: 3rem;
  height: 0.25rem;
  background-color: #99E2D0;
  position: absolute;
  margin-left: 1rem;
}

.trait-3 {
  content: "";
  width: 3rem;
  height: 0.25rem;
  background-color: #99E2D0;
  position: absolute;
  margin-left: 1rem;
}

.coeurs {
  margin: 0px;
}

section {
  width: 100%;
}

h4 {
  margin-bottom: 0px;
}

.menu3__entree-1 {
  height: 55px;
  background-color: white;
  border-radius: 15px 15px 15px 15px;
  margin-top: 3rem;
  margin-left: 1rem;
  margin-right: 1rem;
  cursor: pointer;
  box-shadow: 10px 5px 5px #a9af90;
  overflow: hidden;
}
.menu3__entree-1:hover .true {
  margin-right: 0px;
}

.menu3__entree-2 {
  height: 55px;
  background-color: white;
  border-radius: 15px 15px 15px 15px;
  box-shadow: 10px 5px 5px #a9af90;
  margin-top: 3rem;
  margin-left: 1rem;
  margin-right: 1rem;
  cursor: pointer;
  overflow: hidden;
}
.menu3__entree-2:hover .true {
  margin-right: 0px;
}

.menu3__entree-3 {
  height: 55px;
  background-color: white;
  border-radius: 15px 15px 15px 15px;
  box-shadow: 10px 5px 5px #a9af90;
  margin-top: 3rem;
  margin-left: 1rem;
  margin-right: 1rem;
  cursor: pointer;
  overflow: hidden;
}
.menu3__entree-3:hover .true {
  margin-right: 0px;
}

.menu3__plat-1 {
  height: 55px;
  background-color: white;
  border-radius: 15px 15px 15px 15px;
  box-shadow: 10px 5px 5px #a9af90;
  margin-top: 3rem;
  margin-left: 1rem;
  margin-right: 1rem;
  cursor: pointer;
  overflow: hidden;
}
.menu3__plat-1:hover .true {
  margin-right: 0px;
}

.menu3__plat-2 {
  height: 55px;
  background-color: white;
  border-radius: 15px 15px 15px 15px;
  box-shadow: 10px 5px 5px #a9af90;
  margin-top: 3rem;
  margin-left: 1rem;
  margin-right: 1rem;
  cursor: pointer;
  overflow: hidden;
}
.menu3__plat-2:hover .true {
  margin-right: 0px;
}

.menu3__plat-3 {
  height: 55px;
  background-color: white;
  border-radius: 15px 15px 15px 15px;
  box-shadow: 10px 5px 5px #a9af90;
  margin-top: 3rem;
  margin-left: 1rem;
  margin-right: 1rem;
  cursor: pointer;
  overflow: hidden;
}
.menu3__plat-3:hover .true {
  margin-right: 0px;
}

.menu3__dessert-1 {
  height: 55px;
  background-color: white;
  border-radius: 15px 15px 15px 15px;
  box-shadow: 10px 5px 5px #a9af90;
  margin-top: 3rem;
  margin-left: 1rem;
  margin-right: 1rem;
  cursor: pointer;
  overflow: hidden;
}
.menu3__dessert-1:hover .true {
  margin-right: 0px;
}

.menu3__dessert-2 {
  height: 55px;
  background-color: white;
  border-radius: 15px 15px 15px 15px;
  box-shadow: 10px 5px 5px #a9af90;
  margin-top: 3rem;
  margin-left: 1rem;
  margin-right: 1rem;
  overflow: hidden;
  cursor: pointer;
}
.menu3__dessert-2:hover .true {
  margin-right: 0px;
}

.menu3__dessert-3 {
  height: 55px;
  background-color: white;
  border-radius: 15px 15px 15px 15px;
  box-shadow: 10px 5px 5px #a9af90;
  margin-top: 3rem;
  margin-left: 1rem;
  margin-right: 1rem;
  cursor: pointer;
  overflow: hidden;
}
.menu3__dessert-3:hover .true {
  margin-right: 0px;
}

.menu3__fixe {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 55px;
}

.menu3__fixe-1 {
  padding: 2px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 55px;
}

.menu3__fixe-2 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 55px;
}

.menu3__fixe-3 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 55px;
}

.menu3__fixe-4 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 55px;
}

.menu3__fixe-5 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 55px;
}

.menu3__fixe-6 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 55px;
}

.menu3__fixe-7 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 55px;
}

.menu3__fixe-8 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 55px;
}

.menu-info-1 {
  justify-content: center;
  align-items: center;
}

.globalmenu-3 {
  display: grid;
}

.globalmenu-3 {
  grid-template-columns: repeat(3, 1fr);
  column-gap: 0, 75rem;
}

.btn2 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 120px;
  margin-bottom: 20px;
  background-color: #686868;
  color: #fff;
  background-image: linear-gradient(0deg, #9356DC, #FF79DA);
  padding: 0.75rem 1.5rem;
  border-radius: 100px;
  cursor: pointer;
  /*transition-duration: .25s;
  box-shadow: 0.25rem 0.25rem 10px rgb(0 0 0 / 25%);*/
}

.commander {
  margin-top: 25px;
  display: grid;
  place-items: center;
}

h4 {
  padding: 4px;
  margin-left: 4px;
}

p {
  padding: 4px;
  margin-left: 4px;
}

p.prix {
  padding: 8px;
}

@media (max-width: 800px) {
  .globalmenu-3 {
    display: flex;
    flex-direction: column;
  }
}

.price {
  font-weight: 900;
  background-color: white;
  height: 55px;
  width: 55px;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}

.true {
  background-color: #99E2D0;
  width: 55px;
  height: 55px;
  display: grid;
  place-items: center;
  border-radius: 0 1rem 1rem 0;
  margin-right: -55px;
  transition: 1s;
}

.prix {
  display: flex;
  justify-content: end;
}

.piment {
  margin-bottom: 1rem;
}

.fa-circle-check {
  background-color: white;
  border-radius: 50%;
  color: #99E2D0;
}

body {
  background-color: #F2F2F2;
  margin: 0px;
  font-family: Roboto, sans-serif;
}

.logo {
  background-color: #fff;
  text-align: center;
  padding: 2rem 1rem 1rem;
  position: relative;
}

.ohmyfood {
  width: 160px;
  position: relative;
}

.gogo {
  position: absolute;
  left: 50px;
}

.image-menu-4 {
  background-image: url(images/restaurants/louis-hansel-shotsoflouis-qNBGVyOCY8Q-unsplash.jpg);
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 300px;
}

.flexo-4 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  margin-top: -2rem;
  border-radius: 20px 20px 0 0;
  background-color: #F2F2F2;
  margin-bottom: 0px;
}

h3 {
  position: relative;
  text-transform: uppercase;
  padding-bottom: 0, 25rem;
  font-weight: 400;
  margin-top: 0px;
}

h3.menu4-entree {
  margin-top: 20px;
}

h3.menu4-plat {
  margin-top: 20px;
}

h3.menu4-dessert {
  margin-top: 20px;
}

.trait-1 {
  content: "";
  width: 3rem;
  height: 0.25rem;
  background-color: #99E2D0;
  position: absolute;
  margin-left: 1rem;
}

.trait-2 {
  content: "";
  width: 3rem;
  height: 0.25rem;
  background-color: #99E2D0;
  position: absolute;
  margin-left: 1rem;
}

.trait-3 {
  content: "";
  width: 3rem;
  height: 0.25rem;
  background-color: #99E2D0;
  position: absolute;
  margin-left: 1rem;
}

.coeurs {
  margin: 0px;
}

section {
  width: 100%;
}

h4 {
  margin-bottom: 0px;
}

.menu4__entree-1 {
  height: 55px;
  background-color: white;
  border-radius: 15px 15px 15px 15px;
  box-shadow: 10px 5px 5px #a9af90;
  margin-top: 3rem;
  margin-left: 1rem;
  margin-right: 1rem;
  cursor: pointer;
  overflow: hidden;
}
.menu4__entree-1:hover .true {
  margin-right: 0px;
}

.menu4__entree-2 {
  height: 55px;
  background-color: white;
  border-radius: 15px 15px 15px 15px;
  box-shadow: 10px 5px 5px #a9af90;
  margin-top: 3rem;
  margin-left: 1rem;
  margin-right: 1rem;
  cursor: pointer;
  overflow: hidden;
}
.menu4__entree-2:hover .true {
  margin-right: 0px;
}

.menu4__entree-3 {
  height: 55px;
  background-color: white;
  border-radius: 15px 15px 15px 15px;
  box-shadow: 10px 5px 5px #a9af90;
  margin-top: 3rem;
  margin-left: 1rem;
  margin-right: 1rem;
  cursor: pointer;
  overflow: hidden;
}
.menu4__entree-3:hover .true {
  margin-right: 0px;
}

.menu4__plat-1 {
  height: 55px;
  background-color: white;
  border-radius: 15px 15px 15px 15px;
  box-shadow: 10px 5px 5px #a9af90;
  margin-top: 3rem;
  margin-left: 1rem;
  margin-right: 1rem;
  cursor: pointer;
  overflow: hidden;
}
.menu4__plat-1:hover .true {
  margin-right: 0px;
}

.menu4__plat-2 {
  height: 55px;
  background-color: white;
  border-radius: 15px 15px 15px 15px;
  box-shadow: 10px 5px 5px #a9af90;
  margin-top: 3rem;
  margin-left: 1rem;
  margin-right: 1rem;
  cursor: pointer;
  overflow: hidden;
}
.menu4__plat-2:hover .true {
  margin-right: 0px;
}

.menu4__plat-3 {
  height: 55px;
  background-color: white;
  border-radius: 15px 15px 15px 15px;
  box-shadow: 10px 5px 5px #a9af90;
  margin-top: 3rem;
  margin-left: 1rem;
  margin-right: 1rem;
  cursor: pointer;
  overflow: hidden;
}
.menu4__plat-3:hover .true {
  margin-right: 0px;
}

.menu4__dessert-1 {
  height: 55px;
  background-color: white;
  border-radius: 15px 15px 15px 15px;
  box-shadow: 10px 5px 5px #a9af90;
  margin-top: 3rem;
  margin-left: 1rem;
  margin-right: 1rem;
  cursor: pointer;
  overflow: hidden;
}
.menu4__dessert-1:hover .true {
  margin-right: 0px;
}

.menu4__dessert-2 {
  height: 55px;
  background-color: white;
  border-radius: 15px 15px 15px 15px;
  box-shadow: 10px 5px 5px #a9af90;
  margin-top: 3rem;
  margin-left: 1rem;
  margin-right: 1rem;
  cursor: pointer;
  overflow: hidden;
}
.menu4__dessert-2:hover .true {
  margin-right: 0px;
}

.menu4__dessert-3 {
  height: 55px;
  background-color: white;
  border-radius: 15px 15px 15px 15px;
  box-shadow: 10px 5px 5px #a9af90;
  margin-top: 3rem;
  margin-left: 1rem;
  margin-right: 1rem;
  cursor: pointer;
  overflow: hidden;
}
.menu4__dessert-3:hover .true {
  margin-right: 0px;
}

.menu4-fixe {
  padding: 2px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 55px;
}

.menu4-fixe-1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 55px;
}

.menu4-fixe-2 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 55px;
}

.menu4-fixe-3 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 55px;
}

.menu4-fixe-4 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 55px;
}

.menu4-fixe-5 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 55px;
}

.menu4-fixe-6 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 55px;
}

.menu4-fixe-7 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 55px;
}

.menu4-fixe-8 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 55px;
}

.menu-info-1 {
  justify-content: center;
  align-items: center;
}

.globalmenu-4 {
  display: grid;
}

.globalmenu-4 {
  grid-template-columns: repeat(3, 1fr);
  column-gap: 0, 75rem;
}

.btn2 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 120px;
  margin-bottom: 20px;
  background-color: #686868;
  color: #fff;
  background-image: linear-gradient(0deg, #9356DC, #FF79DA);
  padding: 0.75rem 1.5rem;
  border-radius: 100px;
  cursor: pointer;
  /*transition-duration: .25s;
  box-shadow: 0.25rem 0.25rem 10px rgb(0 0 0 / 25%);*/
}

.commander {
  margin-top: 25px;
  display: grid;
  place-items: center;
}

h4 {
  padding: 4px;
  margin-left: 4px;
}

p {
  padding: 4px;
  margin-left: 4px;
}

p.prix {
  padding: 8px;
}

a.mail {
  color: white;
}

@media (max-width: 800px) {
  .globalmenu-4 {
    display: flex;
    flex-direction: column;
  }
}

.price {
  font-weight: 900;
  background-color: white;
  height: 55px;
  width: 55px;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}

.true {
  background-color: #99E2D0;
  width: 55px;
  height: 55px;
  display: grid;
  place-items: center;
  border-radius: 0 1rem 1rem 0;
  margin-right: -55px;
  transition: 1s;
}

.prix {
  display: flex;
  justify-content: end;
}

.piment {
  margin-bottom: 1rem;
}

.fa-circle-check {
  background-color: white;
  border-radius: 50%;
  color: #99E2D0;
}

/*# sourceMappingURL=style.css.map */
