/*auteur:baron jacky
url:Users/macbook/Documents/projets/projet_3_baron_jacky%203%203/index.html
page d'acceuil restaurant "ohmyfood"
cartes restaurant avec liens vers les menus
avec des animations et affichable sur i phone 6 7 8
*/
body {
  font-family: "Roboto", sans-serif;
}

.btn {
  padding: 1.5rem;
  background: #15DEA5;
  cursor: pointer;
  border-radius: 100rem;
  font-size: 1.5rem;
  color: #fff;
}

.footer-title {
  padding-top: 40px;
  font-family: shrikhand;
  font-size: large;
  padding-left: 6%;
}

.html {
  width: 100%;
  margin: 0px;
}

a {
  text-decoration: none;
}

a.mail {
  color: white;
}

h1.acceuil {
  background-color: #FFF;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  padding-bottom: 0 px;
  margin: 0px;
}

.troisieme {
  display: flex;
  justify-content: center;
  align-items: center;
}

.quatrieme {
  display: flex;
  justify-content: center;
  align-items: center;
}

.image-1 {
  background-image: url(images/restaurants/jay-wennington-N_Y88TWmGwA-unsplash.jpg);
  background-size: cover;
  background-position: center;
  height: 192px;
  width: 100%;
  border-radius: 15px 15px 0 0;
  position: relative;
  cursor: pointer;
}

.image-2 {
  background-image: url(images/restaurants/stil-u2Lp8tXIcjw-unsplash.jpg);
  background-size: cover;
  background-position: center;
  height: 192px;
  width: 100%;
  border-radius: 15px 15px 0 0;
  position: relative;
  cursor: pointer;
}

.image-3 {
  background-image: url(images/restaurants/toa-heftiba-DQKerTsQwi0-unsplash.jpg);
  background-size: cover;
  background-position: center;
  height: 192px;
  width: 100%;
  border-radius: 15px 15px 0 0;
  cursor: pointer;
}

.image-4 {
  background-image: url(images/restaurants/louis-hansel-shotsoflouis-qNBGVyOCY8Q-unsplash.jpg);
  background-size: cover;
  background-position: center;
  height: 192px;
  width: 100%;
  border-radius: 15px 15px 0 0;
  cursor: pointer;
}

.texte-restaurant-bloc-1 {
  align-items: center;
  border-radius: 0 0 10px 10px;
  height: 70px;
  width: 100%;
  background-color: #fff;
}
.texte-restaurant-bloc-1 .text-position {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.texte-restaurant-bloc-2 {
  align-items: center;
  border-radius: 0 0 10px 10px;
  height: 70px;
  width: 100%;
  background-color: #fff;
}
.texte-restaurant-bloc-2 .text-position {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.texte-restaurant-bloc-3 {
  align-items: center;
  border-radius: 0 0 10px 10px;
  height: 70px;
  width: 100%;
  background-color: #fff;
}
.texte-restaurant-bloc-3 .text-position {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.texte-restaurant-bloc-4 {
  align-items: center;
  border-radius: 0 0 10px 10px;
  height: 70px;
  width: 100%;
  background-color: #fff;
}
.texte-restaurant-bloc-4 .text-position {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media (max-width: 800px) {
  .texte-restaurant-bloc-4 {
    margin-bottom: 50px;
  }
}

.ohmyfood-1 {
  padding-left: 5px;
  padding-top: 5px;
}

.ohmyfood-1 {
  padding: 15px;
  width: 160px;
}

.logo-ohmyfood-1 {
  background-color: #fff;
  text-align: center;
  padding: 2rem 1rem 1rem;
  position: relative;
}

.ohmyfood-2 {
  width: 25%;
  color: white;
  font-family: Shrikhand;
}

.localisation-1 {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  background-color: #F2F2F2;
  text-align: center;
  padding: 1rem;
  margin-bottom: 1rem;
}

.localisation-2 {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  background-color: #F3F3F3;
  text-align: center;
}

p.sous-titre-acceuil {
  margin-bottom: 2rem;
  text-align: center;
  opacity: 50%;
  font-size: large;
}

.card {
  padding: 1rem;
}

.cards {
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
}

.acceuil-3 {
  padding: 1rem;
}

.search {
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: auto;
  background-color: #686868;
  color: #fff;
  background-image: linear-gradient(0deg, #9356DC, #FF79DA);
  padding: 0px 24px;
  border-radius: 100px;
  cursor: pointer;
  filter: brightness(1);
}
.search:hover {
  transition-duration: 0.25s;
  filter: brightness(1.75);
  box-shadow: 0.25rem 0.25rem 10px rgba(0, 0, 0, 0.25);
}

.button {
  display: flex;
  justify-content: center;
  margin-bottom: 5rem;
}

p {
  justify-content: center;
  align-items: center;
  margin: 0px;
}

.operations ol {
  display: flex;
  padding: 1rem 1rem;
  gap: 2rem;
}
@media (max-width: 800px) {
  .operations ol {
    flex-direction: column;
  }
}
.operations li {
  border-radius: 1rem;
  background-color: #F2F2F2;
  padding: 1rem 2rem;
  flex-grow: 1;
  height: 30px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  box-shadow: 0px 5px 5px 5px #D5D9E0;
}

main {
  margin-top: 30px;
  background-color: #F3F3F3;
}

footer {
  background-color: #303030;
  color: white;
  height: 225px;
}

h2.acceuil {
  text-align: center;
  margin-top: 2rem;
}

.footer-1 {
  padding-left: 5%;
}

.footer-2 {
  padding-left: 5%;
}

.footer-3 {
  padding-left: 6%;
  padding-top: 10px;
}

.footer-4 {
  padding-left: 6%;
  padding-top: 10px;
  cursor: pointer;
}

i fas {
  margin-right: 1rem;
}

li ::marker {
  color: transparent;
}

.operation-1 {
  position: relative;
}

.operation-2 {
  position: relative;
}

.operation-3 {
  position: relative;
}

.coeur1 {
  position: absolute;
  justify-content: center;
  align-items: center;
  padding-right: 15px;
  padding-top: 20px;
}

.coeur2 {
  z-index: 1;
  color: white;
  justify-content: center;
  align-items: center;
  padding-right: 15px;
  padding-top: 20px;
}

.coeur:hover .coeur2 {
  color: #ff7cf8;
}
.coeur:hover .coeur1 {
  color: transparent;
}

.chiffre {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  background-color: #9356DC;
  position: absolute;
  left: -10px;
  top: calc(50% - 10px);
  width: 20px;
  height: 20px;
  border-radius: 50%;
}

.chiffre2 {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  background-color: #9356DC;
  position: absolute;
  left: -10px;
  top: calc(50% - 10px);
  width: 20px;
  height: 20px;
  border-radius: 50%;
}

.chiffre3 {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  background-color: #9356DC;
  position: absolute;
  left: -10px;
  top: calc(50% - 10px);
  width: 20px;
  height: 20px;
  border-radius: 50%;
}

.menu {
  background-color: #F2F2F2;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.log {
  padding-left: 15px;
  padding-top: 15px;
}

.cube-1 {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 80px;
  padding-right: 20px;
  padding-left: 20px;
}
@media (max-width: 850px) {
  .cube-1 {
    flex-direction: column;
  }
}
@media (max-width: 800px) {
  .cube-1 {
    margin-bottom: 0px;
  }
}

.cube-2 {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 10px;
  padding-right: 20px;
  padding-left: 20px;
}
@media (max-width: 850px) {
  .cube-2 {
    flex-direction: column;
  }
}

i.fa {
  padding: 10px;
}

.mot1 {
  padding-left: 15px;
  padding-top: 15px;
  color: black;
  cursor: pointer;
}

.mot2 {
  padding-left: 15px;
  padding-top: 15px;
  color: black;
  cursor: pointer;
}

.mot3 {
  padding-left: 15px;
  padding-top: 15px;
  color: black;
  cursor: pointer;
}

.mot4 {
  padding-left: 15px;
  padding-top: 15px;
  color: black;
  cursor: pointer;
}

li::marker {
  color: transparent;
}

.subtitle {
  text-transform: none;
  padding-bottom: 0;
  padding: 1rem;
  font-weight: bold;
}

span.new {
  background-color: #99E2D0;
  color: #3e9cbf;
  position: absolute;
  border-radius: 0, 125rem;
  top: 1rem;
  right: 2rem;
  padding: 7px;
  border-radius: 0, 125rem;
}

.move {
  position: fixed;
  display: grid;
  place-items: center;
  background-color: #FFF;
  height: 100vh;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  inset: 0rem;
  z-index: 1;
  opacity: 0, 9;
}

@keyframes dissapears {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
.move {
  animation: dissapears 200ms;
  animation-fill-mode: forwards;
  transform-origin: top;
  animation-delay: 5s;
}

.fa-3x {
  color: #9356DC;
}

@media screen and (max-width: 768px) {
  .cards {
    display: flex;
    flex-direction: column;
  }
}
/*auteur:baron jacky open-classeroom*/
/*fonctions communes*/
h1 {
  margin-top: 0px;
  position: relative;
  font-family: Shrikhand;
}

h2.palette {
  font-family: Shrikhand;
  padding-top: 2rem;
}

h3 {
  position: relative;
  text-transform: uppercase;
  padding-bottom: 0, 25rem;
  font-weight: 400;
  margin-top: 0px;
}

h4 {
  margin-bottom: 0px;
  padding: 4px;
  margin-left: 4px;
}

p {
  padding: 4px;
  margin-left: 4px;
}

body {
  background-color: #F2F2F2;
  margin: 0px;
  font-family: Roboto, sans-serif;
}

section {
  width: 100%;
}

/*haut de la page */
.ohmyfood {
  width: 160px;
  position: relative;
  font-family: Shrikhand;
}

.header-logo {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  text-align: center;
  position: relative;
  padding: 2rem 1rem 1rem;
}

.fleche-retour {
  display: block;
  position: absolute;
  left: 50px;
  bottom: 45px;
}

@media (max-width: 500px) {
  .fleche-retour {
    bottom: 45px;
  }
}
.menu-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  margin-top: -2rem;
  border-radius: 20px 20px 0 0;
  background-color: #F2F2F2;
  margin-bottom: 0px;
}

/*les images des 4 differents menus*/
.image-menu-1 {
  background-image: url(images/restaurants/jay-wennington-N_Y88TWmGwA-unsplash.jpg);
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 300px;
}

.image-menu-2 {
  background-image: url(images/restaurants/stil-u2Lp8tXIcjw-unsplash.jpg);
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 300px;
}

.image-menu-3 {
  background-image: url(images/restaurants/toa-heftiba-DQKerTsQwi0-unsplash.jpg);
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 300px;
}

.image-menu-4 {
  background-image: url(images/restaurants/louis-hansel-shotsoflouis-qNBGVyOCY8Q-unsplash.jpg);
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 300px;
}

/*le coeur qui change d'aspect au passage de la souris*/
.coeurs {
  margin: 0px;
}

.coeur1 {
  position: absolute;
  justify-content: center;
  align-items: center;
  padding-right: 20px;
  padding-top: 20px;
}

.coeur2 {
  z-index: 1;
  color: white;
  justify-content: center;
  align-items: center;
  padding-right: 20px;
  padding-top: 20px;
}

.coeur:hover .coeur2 {
  color: #ff7cf8;
  transition: 1s;
}

.texte-restaurant-bloc-1 {
  cursor: pointer;
}

.texte-restaurant-bloc-2 {
  cursor: pointer;
}

.texte-restaurant-bloc-3 {
  cursor: pointer;
}

.texte-restaurant-bloc-4 {
  cursor: pointer;
}

/*la partie qui englobe les trois sections "entree" "plat" et "dessert"*/
.globalmenu {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 0, 75rem;
}
@media (max-width: 800px) {
  .globalmenu {
    display: flex;
    flex-direction: column;
  }
}

/*les traits en dessous de "entree" "plat" et "dessert"*/
.trait-1 {
  content: "";
  width: 3rem;
  height: 0.25rem;
  background-color: #99E2D0;
  position: absolute;
  margin-left: 1rem;
}

.trait-2 {
  content: "";
  width: 3rem;
  height: 0.25rem;
  background-color: #99E2D0;
  position: absolute;
  margin-left: 1rem;
}

.trait-3 {
  content: "";
  width: 3rem;
  height: 0.25rem;
  background-color: #99E2D0;
  position: absolute;
  margin-left: 1rem;
}

/*les entrees du menu et leurs infos*/
h3.menu-entree {
  margin-top: 20px;
}

.menu__entree-1 {
  height: 55px;
  background-color: white;
  border-radius: 15px 15px 15px 15px;
  margin-top: 3rem;
  margin-left: 1rem;
  margin-right: 1rem;
  box-shadow: 10px 5px 5px #a9af90;
  cursor: pointer;
  overflow: hidden;
}
.menu__entree-1:hover .true {
  margin-right: 0px;
}

.menu__entree-2 {
  height: 55px;
  background-color: white;
  border-radius: 15px 15px 15px 15px;
  box-shadow: 10px 5px 5px #a9af90;
  cursor: pointer;
  margin-top: 3rem;
  margin-left: 1rem;
  margin-right: 1rem;
  overflow: hidden;
}
.menu__entree-2:hover .true {
  margin-right: 0px;
}

.menu__entree-3 {
  height: 55px;
  background-color: white;
  border-radius: 15px 15px 15px 15px;
  box-shadow: 10px 5px 5px #a9af90;
  cursor: pointer;
  margin-top: 3rem;
  margin-left: 1rem;
  margin-right: 1rem;
  overflow: hidden;
}
.menu__entree-3:hover .true {
  margin-right: 0px;
}

.menu__entree-4 {
  height: 55px;
  background-color: white;
  border-radius: 15px 15px 15px 15px;
  box-shadow: 10px 5px 5px #a9af90;
  margin-top: 3rem;
  margin-left: 1rem;
  margin-right: 1rem;
  cursor: pointer;
  overflow: hidden;
}
.menu__entree-4:hover .true {
  margin-right: 0px;
}

.menu-info-1 {
  justify-content: center;
  align-items: center;
}

/*les plats du menu et leurs infos*/
h3.menu-plat {
  margin-top: 20px;
}

.menu__plat-1 {
  height: 55px;
  background-color: white;
  border-radius: 15px 15px 15px 15px;
  box-shadow: 10px 5px 5px #a9af90;
  cursor: pointer;
  margin-top: 3rem;
  margin-left: 1rem;
  margin-right: 1rem;
  overflow: hidden;
}
.menu__plat-1:hover .true {
  margin-right: 0px;
}

.menu__plat-2 {
  height: 55px;
  background-color: white;
  border-radius: 15px 15px 15px 15px;
  box-shadow: 10px 5px 5px #a9af90;
  cursor: pointer;
  margin-top: 3rem;
  margin-left: 1rem;
  margin-right: 1rem;
  overflow: hidden;
}
.menu__plat-2:hover .true {
  margin-right: 0px;
}

.menu__plat-3 {
  height: 55px;
  background-color: white;
  border-radius: 15px 15px 15px 15px;
  box-shadow: 10px 5px 5px #a9af90;
  cursor: pointer;
  margin-top: 3rem;
  margin-left: 1rem;
  margin-right: 1rem;
  overflow: hidden;
}
.menu__plat-3:hover .true {
  margin-right: 0px;
}

.menu-info-2 {
  justify-content: center;
  align-items: center;
}

/*les desserts du menu et leurs infos*/
h3.menu-dessert {
  margin-top: 20px;
}

.menu__dessert-1 {
  height: 55px;
  background-color: white;
  border-radius: 15px 15px 15px 15px;
  box-shadow: 10px 5px 5px #a9af90;
  cursor: pointer;
  margin-top: 3rem;
  margin-left: 1rem;
  margin-right: 1rem;
  overflow: hidden;
}
.menu__dessert-1:hover .true {
  margin-right: 0px;
}

.menu__dessert-2 {
  height: 55px;
  background-color: white;
  border-radius: 15px 15px 15px 15px;
  box-shadow: 10px 5px 5px #a9af90;
  cursor: pointer;
  margin-top: 3rem;
  margin-left: 1rem;
  margin-right: 1rem;
  overflow: hidden;
}
.menu__dessert-2:hover .true {
  margin-right: 0px;
}

.menu__dessert-3 {
  height: 55px;
  background-color: white;
  border-radius: 15px 15px 15px 15px;
  box-shadow: 10px 5px 5px #a9af90;
  cursor: pointer;
  margin-top: 3rem;
  margin-left: 1rem;
  margin-right: 1rem;
  overflow: hidden;
}
.menu__dessert-3:hover .true {
  margin-right: 0px;
}

.menu-info-3 {
  justify-content: center;
  align-items: center;
}

/*pour tous les menus*/
.menu__composition-tarif {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 55px;
}

.true {
  background-color: #99E2D0;
  width: 55px;
  height: 55px;
  display: grid;
  place-items: center;
  border-radius: 0 1rem 1rem 0;
  margin-right: -55px;
  transition: 1s;
}

.menu__composition-tarif div:first-child {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.menu-text {
  margin-bottom: 1rem;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

/*logo du items*/
.fa-circle-check {
  background-color: white;
  border-radius: 50%;
  color: #99E2D0;
}

.price {
  font-weight: 900;
  background-color: white;
  height: 55px;
  width: 55px;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}

p.prix {
  padding: 8px;
}

.prix {
  display: flex;
  justify-content: end;
}

/*le bouton juste avant le footer*/
.btn2 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 120px;
  margin-bottom: 20px;
  background-color: #686868;
  color: #fff;
  background-image: linear-gradient(0deg, #9356DC, #FF79DA);
  padding: 0.75rem 1.5rem;
  border-radius: 100px;
  cursor: pointer;
  filter: brightness(1);
}
.btn2:hover {
  transition-duration: 0.25s;
  filter: brightness(1.75);
  box-shadow: 0.25rem 0.25rem 10px rgba(0, 0, 0, 0.25);
}

.commander {
  margin-top: 25px;
  display: grid;
  place-items: center;
}

/*dans le "footer"*/
a.mail {
  color: white;
}

/*pour l'apparition "appear" a l'ouverture de la page*/
section {
  animation: appear 3s;
  opacity: 0;
  width: 100%;
  animation-fill-mode: forwards;
  width: 100%;
}

section:first-child {
  animation-delay: 2s;
}

section:nth-child(2) {
  animation-delay: 4s;
}

section:last-child {
  animation-delay: 6s;
}

@keyframes appear {
  0% {
    transform: translateY(50%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

/*# sourceMappingURL=style.css.map */
