@charset "UTF-8";
body {
  font-family: "Roboto", sans-serif;
  margin: 0px;
}

.btn {
  padding: 1.5rem;
  background: #15DEA5;
  cursor: pointer;
  border-radius: 100rem;
  font-size: 1.5rem;
  color: #fff;
}

.html {
  width: 100%;
  margin: 0px;
}

a {
  text-decoration: none;
}

.premier {
  display: flex;
  justify-content: center;
  align-items: center;
}

.deuxieme {
  display: flex;
  justify-content: center;
  align-items: center;
}

.troisieme {
  display: flex;
  justify-content: center;
  align-items: center;
}

.quatrieme {
  display: flex;
  justify-content: center;
  align-items: center;
}

.image-1 {
  background-image: url(images/restaurants/jay-wennington-N_Y88TWmGwA-unsplash.jpg);
  background-size: cover;
  background-position: center;
  height: 192px;
  width: 100%;
  border-radius: 15px 15px 0 0;
  position: relative;
  cursor: pointer;
}

.image-2 {
  background-image: url(images/restaurants/stil-u2Lp8tXIcjw-unsplash.jpg);
  background-size: cover;
  background-position: center;
  height: 192px;
  width: 100%;
  border-radius: 15px 15px 0 0;
  position: relative;
  cursor: pointer;
}

.image-3 {
  background-image: url(images/restaurants/toa-heftiba-DQKerTsQwi0-unsplash.jpg);
  background-size: cover;
  background-position: center;
  height: 192px;
  width: 100%;
  border-radius: 15px 15px 0 0;
  cursor: pointer;
}

.image-4 {
  background-image: url(images/restaurants/louis-hansel-shotsoflouis-qNBGVyOCY8Q-unsplash.jpg);
  background-size: cover;
  background-position: center;
  height: 192px;
  width: 100%;
  border-radius: 15px 15px 0 0;
  cursor: pointer;
}

.texte-restaurant-bloc-1 {
  cursor: pointer;
  align-items: center;
  border-radius: 0 0 10px 10px;
  height: 70px;
  width: 400px;
  background-color: #fff;
}

.texte-restaurant-bloc-2 {
  cursor: pointer;
  align-items: center;
  border-radius: 0 0 10px 10px;
  height: 70px;
  width: 400px;
  background-color: #fff;
}
@media (max-width: 800px) {
  .texte-restaurant-bloc-2 {
    margin-bottom: 20px;
  }
}

.texte-restaurant-bloc-3 {
  cursor: pointer;
  align-items: center;
  border-radius: 0 0 10px 10px;
  height: 70px;
  width: 400px;
  background-color: #fff;
}
@media (max-width: 800px) {
  .texte-restaurant-bloc-3 {
    margin-bottom: 20px;
  }
}

.texte-restaurant-bloc-4 {
  cursor: pointer;
  align-items: center;
  border-radius: 0 0 10px 10px;
  height: 70px;
  width: 400px;
  background-color: #fff;
}

.ohmyfood-1 {
  padding-left: 5px;
  padding-top: 5px;
}

.ohmyfood-1 {
  padding: 15px;
  width: 160px;
}

.logo-ohmyfood-1 {
  background-color: #fff;
  text-align: center;
  padding: 2rem 1rem 1rem;
  position: relative;
}

.ohmyfood-2 {
  width: 25%;
  color: white;
  font-family: Shrikhand, "cursive";
}

.loupe {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  background-color: #F3F3F3;
  text-align: center;
  padding: 2rem;
}

.text1 {
  margin-top: 2rem;
}

.text2 {
  margin-top: 1rem;
  margin-bottom: 2rem;
}

.pass {
  background-color: ƒF2F2F2;
  height: 200px;
  margin-bottom: 20px;
  padding: 2rem;
}

.papa {
  padding: 0rem 1rem;
}

.search {
  justify-content: center;
  text-align: center;
  height: 40px;
  width: 180px;
  color: white;
  cursor: pointer;
  border-radius: 10px 10px 10px 10px;
  background-color: rosybrown;
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 5rem;
}

p {
  justify-content: center;
  align-items: center;
  margin: 0px;
}

.toto ol {
  display: flex;
  padding: 1rem 0rem;
  gap: 2rem;
}
@media (max-width: 800px) {
  .toto ol {
    flex-direction: column;
  }
}
.toto li {
  border-radius: 1rem;
  background-color: #F2F2F2;
  padding: 1rem 2rem;
  flex-grow: 1;
  height: 20px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  box-shadow: 0px 5px 5px 5px #D5D9E0;
}

main {
  margin-top: 30px;
  background-color: #F3F3F3;
}

.mama {
  font-weight: bolder;
}

footer {
  background-color: #5f574e;
  color: white;
  height: 225px;
}

h2 {
  padding-left: 6%;
  margin-top: 0px;
}

h3 {
  justify-content: center;
  align-items: center;
}

.ph-1 {
  padding-left: 5%;
}

.ph-2 {
  padding-left: 5%;
}

.ph-3 {
  padding-left: 6%;
  padding-top: 10px;
}

.ph-4 {
  padding-left: 6%;
  padding-top: 10px;
}

i fas {
  margin-right: 1rem;
}

li ::marker {
  color: transparent;
}

.roro {
  position: relative;
}

.riri {
  position: relative;
}

.ruru {
  position: relative;
}

.coeur {
  justify-content: center;
  align-items: center;
  padding-right: 20px;
  padding-top: 20px;
}

.chiffre {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  background-color: #9356DC;
  position: absolute;
  left: -10px;
  top: calc(50% - 10px);
  width: 20px;
  height: 20px;
  border-radius: 50%;
}

.chiffre2 {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  background-color: #9356DC;
  position: absolute;
  left: -10px;
  top: calc(50% - 10px);
  width: 20px;
  height: 20px;
  border-radius: 50%;
}

.chiffre3 {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  background-color: #9356DC;
  position: absolute;
  left: -10px;
  top: calc(50% - 10px);
  width: 20px;
  height: 20px;
  border-radius: 50%;
}

.menu {
  background-color: #F2F2F2;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.titi {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.tyty {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.tata {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.tutu {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.log {
  padding-left: 15px;
  padding-top: 15px;
}

.cube-1 {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 1rem;
  margin-bottom: 80px;
}
@media (max-width: 850px) {
  .cube-1 {
    flex-direction: column;
  }
}
@media (max-width: 800px) {
  .cube-1 {
    margin-bottom: 0px;
  }
}

.cube-2 {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 80px;
}
@media (max-width: 850px) {
  .cube-2 {
    flex-direction: column;
  }
}

i.fa {
  padding: 10px;
}

.mot1 {
  padding-left: 15px;
  padding-top: 15px;
  color: black;
}

.mot2 {
  padding-left: 15px;
  padding-top: 15px;
  color: black;
}

.mot3 {
  padding-left: 15px;
  padding-top: 15px;
  color: black;
}

.mot4 {
  padding-left: 15px;
  padding-top: 15px;
  color: black;
}

li::marker {
  color: transparent;
}

h3 {
  margin-left: 10px;
}

span.new {
  background-color: #99E2D0;
  color: #3e9cbf;
  position: absolute;
  border-radius: 0, 125rem;
  top: 1rem;
  left: 20rem;
  padding: 7px;
  border-radius: 0, 125rem;
}

span.news {
  background-color: #99E2D0;
  color: #3e9cbf;
  position: absolute;
  border-radius: 0, 125rem;
  top: 1rem;
  left: 20rem;
  padding: 7px;
  border-radius: 0, 125rem;
}

body {
  background-color: #F2F2F2;
  margin: 0px;
  font-family: Roboto, sans-serif;
}

.logo {
  background-color: #fff;
  text-align: center;
  padding: 2rem 1rem 1rem;
  position: relative;
}

.ohmyfood {
  width: 160px;
  position: relative;
}

.gogo {
  position: absolute;
  left: 50px;
}

.image-menu-1 {
  background-image: url(images/restaurants/jay-wennington-N_Y88TWmGwA-unsplash.jpg);
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 500px;
}

.flexo-1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  margin-top: -2rem;
  border-radius: 20px 20px 0 0;
  background-color: #F2F2F2;
  margin-bottom: 0px;
}

h3 {
  position: relative;
  text-transform: uppercase;
  padding-bottom: 0, 25rem;
  font-weight: 400;
  margin-top: 0px;
}

.trait-1 {
  content: "";
  width: 3rem;
  height: 0.25rem;
  background-color: #99E2D0;
  position: absolute;
  margin-left: 1rem;
}

.trait-2 {
  content: "";
  width: 3rem;
  height: 0.25rem;
  background-color: #99E2D0;
  position: absolute;
  margin-left: 1rem;
}

.trait-3 {
  content: "";
  width: 3rem;
  height: 0.25rem;
  background-color: #99E2D0;
  position: absolute;
  margin-left: 1rem;
}

.coeurs {
  margin: 0px;
}

section {
  width: 320px;
  padding: 5px;
}

h4 {
  margin-bottom: 0px;
}

.menu1__entree-1 {
  height: 55px;
  background-color: white;
  border-radius: 15px 15px 15px 15px;
  margin-top: 3rem;
  box-shadow: 10px 5px 5px #a9af90;
}

.menu1__entree-2 {
  height: 55px;
  background-color: white;
  border-radius: 15px 15px 15px 15px;
  box-shadow: 10px 5px 5px #a9af90;
}

.menu1__entree-3 {
  height: 55px;
  background-color: white;
  border-radius: 15px 15px 15px 15px;
  box-shadow: 10px 5px 5px #a9af90;
}

.menu1__plat-1 {
  height: 55px;
  background-color: white;
  border-radius: 15px 15px 15px 15px;
  margin-top: 3rem;
  box-shadow: 10px 5px 5px #a9af90;
}

.menu1__plat-2 {
  height: 55px;
  background-color: white;
  border-radius: 15px 15px 15px 15px;
  box-shadow: 10px 5px 5px #a9af90;
}

.menu1__plat-3 {
  height: 55px;
  background-color: white;
  border-radius: 15px 15px 15px 15px;
  box-shadow: 10px 5px 5px #a9af90;
}

.menu1__dessert-1 {
  height: 55px;
  background-color: white;
  border-radius: 15px 15px 15px 15px;
  margin-top: 3rem;
  box-shadow: 10px 5px 5px #a9af90;
}

.menu1__dessert-2 {
  height: 55px;
  background-color: white;
  border-radius: 15px 15px 15px 15px;
  box-shadow: 10px 5px 5px #a9af90;
}

.menu1__dessert-3 {
  height: 55px;
  background-color: white;
  border-radius: 15px 15px 15px 15px;
  box-shadow: 10px 5px 5px #a9af90;
}

.menu1__fixe {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 7rem;
}

.menu1__fixe-1 {
  padding: 2px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.menu1__fixe-2 {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  height: 26px;
}

.menu1__fixe-3 {
  display: flex;
  justify-content: center;
  align-items: center;
}

.menu1__fixe-4 {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.menu1__fixe-5 {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10rem;
}

.menu1__fixe-6 {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 7rem;
}

.menu1__fixe-7 {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.menu1__fixe-8 {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4rem;
}

.menu-info-1 {
  justify-content: center;
  align-items: center;
}

.globalmenu-1 {
  display: grid;
}

.globalmenu-1 {
  grid-template-columns: repeat(3, 1fr);
  column-gap: 0, 75rem;
}

.btn2 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 120px;
  border: 0;
  padding: 0.75rem 1.5rem;
  font-weight: 500;
  font-size: 1.1rem;
  border-radius: 100px;
  color: #fff;
  background-color: #686868;
  background-image: linear-gradient(0deg, rgba(147, 86, 220, 0.9), rgba(255, 121, 218, 0.9));
  transition-duration: 0.25s;
  box-shadow: 0.25rem 0.25rem 10px rgba(0, 0, 0, 0.25);
  cursor: pointer;
  margin-left: 40%;
  margin-bottom: 20px;
}
@media (max-width: 500px) {
  .btn2 {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.commande {
  margin-top: 20px;
  justify-content: center;
  align-items: center;
}

h4 {
  padding: 4px;
  margin-left: 4px;
}

p {
  padding: 4px;
  margin-left: 4px;
}

@media (max-width: 800px) {
  .globalmenu-1 {
    display: flex;
    flex-direction: column;
  }
}

body {
  background-color: #F2F2F2;
  margin: 0px;
  font-family: Roboto, sans-serif;
}

.logo {
  background-color: #fff;
  text-align: center;
  padding: 2rem 1rem 1rem;
  position: relative;
}

.ohmyfood {
  width: 160px;
  position: relative;
}

.gogo {
  position: absolute;
  left: 50px;
}

.image-menu-2 {
  background-image: url(images/restaurants/stil-u2Lp8tXIcjw-unsplash.jpg);
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 500px;
}

.flexo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  margin-top: -2rem;
  border-radius: 20px 20px 0 0;
  background-color: #F2F2F2;
  margin-bottom: 0px;
}

h3 {
  position: relative;
  text-transform: uppercase;
  padding-bottom: 0, 25rem;
  font-weight: 400;
  margin-top: 0px;
}

.trait-1 {
  content: "";
  width: 3rem;
  height: 0.25rem;
  background-color: #99E2D0;
  position: absolute;
  margin-left: 1rem;
}

.trait-2 {
  content: "";
  width: 3rem;
  height: 0.25rem;
  background-color: #99E2D0;
  position: absolute;
  margin-left: 1rem;
}

.trait-3 {
  content: "";
  width: 3rem;
  height: 0.25rem;
  background-color: #99E2D0;
  position: absolute;
  margin-left: 1rem;
}

.coeurs {
  margin: 0px;
}

section {
  width: 320px;
  padding: 5px;
}

h4 {
  margin-bottom: 0px;
}

.entree-1 {
  height: 55px;
  background-color: white;
  border-radius: 15px 15px 15px 15px;
  margin-top: 3rem;
  box-shadow: 10px 5px 5px #a9af90;
}

.entree-2 {
  height: 55px;
  background-color: white;
  border-radius: 15px 15px 15px 15px;
  box-shadow: 10px 5px 5px #a9af90;
}

.entree-3 {
  height: 55px;
  background-color: white;
  border-radius: 15px 15px 15px 15px;
  box-shadow: 10px 5px 5px #a9af90;
}

.plat-1 {
  height: 55px;
  background-color: white;
  border-radius: 15px 15px 15px 15px;
  margin-top: 3rem;
  box-shadow: 10px 5px 5px #a9af90;
}

.plat-2 {
  height: 55px;
  background-color: white;
  border-radius: 15px 15px 15px 15px;
  box-shadow: 10px 5px 5px #a9af90;
}

.plat-3 {
  height: 55px;
  background-color: white;
  border-radius: 15px 15px 15px 15px;
  box-shadow: 10px 5px 5px #a9af90;
}

.dessert-1 {
  height: 55px;
  background-color: white;
  border-radius: 15px 15px 15px 15px;
  margin-top: 3rem;
  box-shadow: 10px 5px 5px #a9af90;
}

.dessert-2 {
  height: 55px;
  background-color: white;
  border-radius: 15px 15px 15px 15px;
  box-shadow: 10px 5px 5px #a9af90;
}

.dessert-3 {
  height: 55px;
  background-color: white;
  border-radius: 15px 15px 15px 15px;
  box-shadow: 10px 5px 5px #a9af90;
}

.fixe {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 7rem;
}

.fixe-1 {
  padding: 2px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4rem;
}

.fixe-2 {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12rem;
  height: 26px;
}

.fixe-3 {
  display: flex;
  justify-content: center;
  align-items: center;
}

.fixe-4 {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.fixe-5 {
  display: flex;
  justify-content: center;
  align-items: center;
}

.fixe-6 {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 7rem;
}

.fixe-7 {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12rem;
}

.fixe-8 {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4rem;
}

.menu-info-1 {
  justify-content: center;
  align-items: center;
}

.globalmenu {
  display: grid;
}

.globalmenu {
  grid-template-columns: repeat(3, 1fr);
  column-gap: 0, 75rem;
}

.btn2 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 120px;
  border: 0;
  padding: 0.75rem 1.5rem;
  font-weight: 500;
  font-size: 1.1rem;
  border-radius: 100px;
  color: #fff;
  background-color: #686868;
  background-image: linear-gradient(0deg, rgba(147, 86, 220, 0.9), rgba(255, 121, 218, 0.9));
  transition-duration: 0.25s;
  box-shadow: 0.25rem 0.25rem 10px rgba(0, 0, 0, 0.25);
  cursor: pointer;
  margin-left: 40%;
  margin-bottom: 20px;
}
@media (max-width: 500px) {
  .btn2 {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.commande {
  margin-top: 20px;
  justify-content: center;
  align-items: center;
}

h4 {
  padding: 4px;
  margin-left: 4px;
}

p {
  padding: 4px;
  margin-left: 4px;
}

p.prix {
  padding: 8px;
}

@media (max-width: 800px) {
  .globalmenu {
    display: flex;
    flex-direction: column;
  }
}

body {
  background-color: #F2F2F2;
  margin: 0px;
  font-family: Roboto, sans-serif;
}

.logo {
  background-color: #fff;
  text-align: center;
  padding: 2rem 1rem 1rem;
  position: relative;
}

.ohmyfood {
  width: 160px;
  position: relative;
}

.gogo {
  position: absolute;
  left: 50px;
}

.image-menu-3 {
  background-image: url(images/restaurants/stil-u2Lp8tXIcjw-unsplash.jpg);
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 500px;
}

.flexo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  margin-top: -2rem;
  border-radius: 20px 20px 0 0;
  background-color: #F2F2F2;
  margin-bottom: 0px;
}

h3 {
  position: relative;
  text-transform: uppercase;
  padding-bottom: 0, 25rem;
  font-weight: 400;
  margin-top: 0px;
}

.trait-1 {
  content: "";
  width: 3rem;
  height: 0.25rem;
  background-color: #99E2D0;
  position: absolute;
  margin-left: 1rem;
}

.trait-2 {
  content: "";
  width: 3rem;
  height: 0.25rem;
  background-color: #99E2D0;
  position: absolute;
  margin-left: 1rem;
}

.trait-3 {
  content: "";
  width: 3rem;
  height: 0.25rem;
  background-color: #99E2D0;
  position: absolute;
  margin-left: 1rem;
}

.coeurs {
  margin: 0px;
}

section {
  width: 320px;
  padding: 5px;
}

h4 {
  margin-bottom: 0px;
}

.entree-1 {
  height: 55px;
  background-color: white;
  border-radius: 15px 15px 15px 15px;
  margin-top: 3rem;
  box-shadow: 10px 5px 5px #a9af90;
}

.entree-2 {
  height: 55px;
  background-color: white;
  border-radius: 15px 15px 15px 15px;
  box-shadow: 10px 5px 5px #a9af90;
}

.entree-3 {
  height: 55px;
  background-color: white;
  border-radius: 15px 15px 15px 15px;
  box-shadow: 10px 5px 5px #a9af90;
}

.plat-1 {
  height: 55px;
  background-color: white;
  border-radius: 15px 15px 15px 15px;
  margin-top: 3rem;
  box-shadow: 10px 5px 5px #a9af90;
}

.plat-2 {
  height: 55px;
  background-color: white;
  border-radius: 15px 15px 15px 15px;
  box-shadow: 10px 5px 5px #a9af90;
}

.plat-3 {
  height: 55px;
  background-color: white;
  border-radius: 15px 15px 15px 15px;
  box-shadow: 10px 5px 5px #a9af90;
}

.dessert-1 {
  height: 55px;
  background-color: white;
  border-radius: 15px 15px 15px 15px;
  margin-top: 3rem;
  box-shadow: 10px 5px 5px #a9af90;
}

.dessert-2 {
  height: 55px;
  background-color: white;
  border-radius: 15px 15px 15px 15px;
  box-shadow: 10px 5px 5px #a9af90;
}

.dessert-3 {
  height: 55px;
  background-color: white;
  border-radius: 15px 15px 15px 15px;
  box-shadow: 10px 5px 5px #a9af90;
}

.fixe {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 7rem;
}

.fixe-1 {
  padding: 2px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4rem;
}

.fixe-2 {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12rem;
  height: 26px;
}

.fixe-3 {
  display: flex;
  justify-content: center;
  align-items: center;
}

.fixe-4 {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.fixe-5 {
  display: flex;
  justify-content: center;
  align-items: center;
}

.fixe-6 {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 7rem;
}

.fixe-7 {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12rem;
}

.fixe-8 {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4rem;
}

.menu-info-1 {
  justify-content: center;
  align-items: center;
}

.globalmenu {
  display: grid;
}

.globalmenu {
  grid-template-columns: repeat(3, 1fr);
  column-gap: 0, 75rem;
}

.btn2 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 120px;
  border: 0;
  padding: 0.75rem 1.5rem;
  font-weight: 500;
  font-size: 1.1rem;
  border-radius: 100px;
  color: #fff;
  background-color: #686868;
  background-image: linear-gradient(0deg, rgba(147, 86, 220, 0.9), rgba(255, 121, 218, 0.9));
  transition-duration: 0.25s;
  box-shadow: 0.25rem 0.25rem 10px rgba(0, 0, 0, 0.25);
  cursor: pointer;
  margin-left: 40%;
  margin-bottom: 20px;
}
@media (max-width: 500px) {
  .btn2 {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.commande {
  margin-top: 20px;
  justify-content: center;
  align-items: center;
}

h4 {
  padding: 4px;
  margin-left: 4px;
}

p {
  padding: 4px;
  margin-left: 4px;
}

p.prix {
  padding: 8px;
}

@media (max-width: 800px) {
  .globalmenu {
    display: flex;
    flex-direction: column;
  }
}

body {
  background-color: #F2F2F2;
  margin: 0px;
  font-family: Roboto, sans-serif;
}

.logo {
  background-color: #fff;
  text-align: center;
  padding: 2rem 1rem 1rem;
  position: relative;
}

.ohmyfood {
  width: 160px;
  position: relative;
}

.gogo {
  position: absolute;
  left: 50px;
}

.image-menu-4 {
  background-image: url(images/restaurants/louis-hansel-shotsoflouis-qNBGVyOCY8Q-unsplash.jpg);
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 500px;
}

.flexo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  margin-top: -2rem;
  border-radius: 20px 20px 0 0;
  background-color: #F2F2F2;
  margin-bottom: 0px;
}

h3 {
  position: relative;
  text-transform: uppercase;
  padding-bottom: 0, 25rem;
  font-weight: 400;
  margin-top: 0px;
}

.trait-1 {
  content: "";
  width: 3rem;
  height: 0.25rem;
  background-color: #99E2D0;
  position: absolute;
  margin-left: 1rem;
}

.trait-2 {
  content: "";
  width: 3rem;
  height: 0.25rem;
  background-color: #99E2D0;
  position: absolute;
  margin-left: 1rem;
}

.trait-3 {
  content: "";
  width: 3rem;
  height: 0.25rem;
  background-color: #99E2D0;
  position: absolute;
  margin-left: 1rem;
}

.coeurs {
  margin: 0px;
}

section {
  width: 320px;
  padding: 5px;
}

h4 {
  margin-bottom: 0px;
}

.entree-1 {
  height: 55px;
  background-color: white;
  border-radius: 15px 15px 15px 15px;
  margin-top: 3rem;
  box-shadow: 10px 5px 5px #a9af90;
}

.entree-2 {
  height: 55px;
  background-color: white;
  border-radius: 15px 15px 15px 15px;
  box-shadow: 10px 5px 5px #a9af90;
}

.entree-3 {
  height: 55px;
  background-color: white;
  border-radius: 15px 15px 15px 15px;
  box-shadow: 10px 5px 5px #a9af90;
}

.plat-1 {
  height: 55px;
  background-color: white;
  border-radius: 15px 15px 15px 15px;
  margin-top: 3rem;
  box-shadow: 10px 5px 5px #a9af90;
}

.plat-2 {
  height: 55px;
  background-color: white;
  border-radius: 15px 15px 15px 15px;
  box-shadow: 10px 5px 5px #a9af90;
}

.plat-3 {
  height: 55px;
  background-color: white;
  border-radius: 15px 15px 15px 15px;
  box-shadow: 10px 5px 5px #a9af90;
}

.dessert-1 {
  height: 55px;
  background-color: white;
  border-radius: 15px 15px 15px 15px;
  margin-top: 3rem;
  box-shadow: 10px 5px 5px #a9af90;
}

.dessert-2 {
  height: 55px;
  background-color: white;
  border-radius: 15px 15px 15px 15px;
  box-shadow: 10px 5px 5px #a9af90;
}

.dessert-3 {
  height: 55px;
  background-color: white;
  border-radius: 15px 15px 15px 15px;
  box-shadow: 10px 5px 5px #a9af90;
}

.fixe {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 7rem;
}

.fixe-1 {
  padding: 2px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4rem;
}

.fixe-2 {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12rem;
  height: 26px;
}

.fixe-3 {
  display: flex;
  justify-content: center;
  align-items: center;
}

.fixe-4 {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.fixe-5 {
  display: flex;
  justify-content: center;
  align-items: center;
}

.fixe-6 {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 7rem;
}

.fixe-7 {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12rem;
}

.fixe-8 {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4rem;
}

.menu-info-1 {
  justify-content: center;
  align-items: center;
}

.globalmenu {
  display: grid;
}

.globalmenu {
  grid-template-columns: repeat(3, 1fr);
  column-gap: 0, 75rem;
}

.btn2 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 120px;
  border: 0;
  padding: 0.75rem 1.5rem;
  font-weight: 500;
  font-size: 1.1rem;
  border-radius: 100px;
  color: #fff;
  background-color: #686868;
  background-image: linear-gradient(0deg, rgba(147, 86, 220, 0.9), rgba(255, 121, 218, 0.9));
  transition-duration: 0.25s;
  box-shadow: 0.25rem 0.25rem 10px rgba(0, 0, 0, 0.25);
  cursor: pointer;
  margin-left: 40%;
  margin-bottom: 20px;
}
@media (max-width: 500px) {
  .btn2 {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.commande {
  margin-top: 20px;
  justify-content: center;
  align-items: center;
}

h4 {
  padding: 4px;
  margin-left: 4px;
}

p {
  padding: 4px;
  margin-left: 4px;
}

p.prix {
  padding: 8px;
}

@media (max-width: 800px) {
  .globalmenu {
    display: flex;
    flex-direction: column;
  }
}

/*# sourceMappingURL=style.css.map */
