/*auteur:baron jacky
url:Users/macbook/Documents/projets/projet_3_baron_jacky%203%203/menu3.html
page du menu3 "ohmyfood"
avec lien vers la page d'acceuil
des animations et affichable sur i phone 6 7 8
*/
.coeurs {
    margin: 0px;
}

section {
    width: 100%;
}

h4 {
    margin-bottom: 0px;

}

.menu3__entree-1 {
    height: 55px;
    background-color: white;
    border-radius: 15px 15px 15px 15px;
    margin-top: 3rem;
    margin-left: 1rem;
    margin-right: 1rem;
    cursor: pointer;
    box-shadow: 10px 5px 5px #a9af90;
    overflow: hidden;

    &:hover {
        .true {
            margin-right: 0px;
        }
    }
}

.menu3__entree-2 {
    height: 55px;
    background-color: white;
    border-radius: 15px 15px 15px 15px;
    box-shadow: 10px 5px 5px #a9af90;
    margin-top: 3rem;
    margin-left: 1rem;
    margin-right: 1rem;
    cursor: pointer;
    overflow: hidden;

    &:hover {
        .true {
            margin-right: 0px;
        }
    }
}

.menu3__entree-3 {
    height: 55px;
    background-color: white;
    border-radius: 15px 15px 15px 15px;
    box-shadow: 10px 5px 5px #a9af90;
    margin-top: 3rem;
    margin-left: 1rem;
    margin-right: 1rem;
    cursor: pointer;
    overflow: hidden;

    &:hover {
        .true {
            margin-right: 0px;
        }
    }
}

.menu3__plat-1 {
    height: 55px;
    background-color: white;
    border-radius: 15px 15px 15px 15px;
    box-shadow: 10px 5px 5px #a9af90;
    margin-top: 3rem;
    margin-left: 1rem;
    margin-right: 1rem;
    cursor: pointer;
    overflow: hidden;

    &:hover {
        .true {
            margin-right: 0px;
        }
    }
}

.menu3__plat-2 {
    height: 55px;
    background-color: white;
    border-radius: 15px 15px 15px 15px;
    box-shadow: 10px 5px 5px #a9af90;
    margin-top: 3rem;
    margin-left: 1rem;
    margin-right: 1rem;
    cursor: pointer;
    overflow: hidden;

    &:hover {
        .true {
            margin-right: 0px;
        }
    }
}

.menu3__plat-3 {
    height: 55px;
    background-color: white;
    border-radius: 15px 15px 15px 15px;
    box-shadow: 10px 5px 5px #a9af90;
    margin-top: 3rem;
    margin-left: 1rem;
    margin-right: 1rem;
    cursor: pointer;
    overflow: hidden;

    &:hover {
        .true {
            margin-right: 0px;
        }
    }
}

.menu3__dessert-1 {
    height: 55px;
    background-color: white;
    border-radius: 15px 15px 15px 15px;
    box-shadow: 10px 5px 5px #a9af90;
    margin-top: 3rem;
    margin-left: 1rem;
    margin-right: 1rem;
    cursor: pointer;
    overflow: hidden;

    &:hover {
        .true {
            margin-right: 0px;
        }
    }
}

.menu3__dessert-2 {
    height: 55px;
    background-color: white;
    border-radius: 15px 15px 15px 15px;
    box-shadow: 10px 5px 5px #a9af90;
    margin-top: 3rem;
    margin-left: 1rem;
    margin-right: 1rem;
    overflow: hidden;
    cursor: pointer;

    &:hover {
        .true {
            margin-right: 0px;
        }
    }
}

.menu3__dessert-3 {
    height: 55px;
    background-color: white;
    border-radius: 15px 15px 15px 15px;
    box-shadow: 10px 5px 5px #a9af90;
    margin-top: 3rem;
    margin-left: 1rem;
    margin-right: 1rem;
    cursor: pointer;
    overflow: hidden;

    &:hover {
        .true {
            margin-right: 0px;
        }
    }
}

.menu3__fixe {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 55px;

}

.menu3__fixe-1 {
    padding: 2px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 55px;
}

.menu3__fixe-2 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 55px;
}

.menu3__fixe-3 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 55px;

}

.menu3__fixe-4 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 55px;
}

.menu3__fixe-5 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 55px;

}

.menu3__fixe-6 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 55px;
}

.menu3__fixe-7 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 55px;

}

.menu3__fixe-8 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 55px;
}



.menu-info-1 {

    justify-content: center;
    align-items: center;
}

.globalmenu-3 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 0, 75rem;
}
.btn2 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 120px;
    margin-bottom: 20px;
    background-color: #686868;
    color: #fff;
    background-image: linear-gradient(0deg, $primaire, $secondaire);
    padding: 0.75rem 1.5rem;
    border-radius: 100px;
    cursor: pointer;
    /*transition-duration: .25s;
   box-shadow: 0.25rem 0.25rem 10px rgb(0 0 0 / 25%);*/
}

.commander {
    margin-top: 25px;
    display: grid;
    place-items: center;

}

h4 {
    padding: 4px;
    margin-left: 4px;
}

p {
    padding: 4px;
    margin-left: 4px;
}

p.prix {
    padding: 8px;


}

.globalmenu-3 {
    @media (max-width:800px) {
        display: flex;
        flex-direction: column;
    }
}



