body{
    background-color: #F2F2F2;
    margin:0px;
    font-family: Roboto, sans-serif;
    }
   .logo{
       background-color: #fff;
       text-align:center ;
       padding:2rem 1rem 1rem; 
       position:relative;
   }
   a.mail{
    color:white;
 }   
  
   .ohmyfood{
       width:160px ;
       position:relative ;
       font-family:Shrikhand;
     }
     .gogo{
         position:absolute;
         left:50px;
     }
     
   .image-menu-2{
       background-image:url(images/restaurants/stil-u2Lp8tXIcjw-unsplash.jpg) ;
       background-size:cover ;
       background-position:center ;
       width:100% ;
       height:500px ;
      
   }
   .flexo-2{
       display: flex;
       justify-content: space-between;
       align-items: center;
       padding: 1rem;
       margin-top:-2rem ;
       border-radius:20px 20px 0 0;
       background-color:$fondgris;
       margin-bottom:0px ;
   }
   
   h3{
       position:relative;
       text-transform: uppercase;
       padding-bottom: 0,25rem;
       font-weight: 400;
       margin-top:0px ;
   }
   .trait-1{
       content: "";
       width: 3rem;
       height: 0.25rem;
       background-color:$tertiaire;
       position: absolute;
       margin-left:1rem ;
   }
   .trait-2{
       content: "";
       width: 3rem;
       height: 0.25rem;
       background-color:$tertiaire;
       position: absolute;
       margin-left:1rem; 
   }
   .trait-3{
       content: "";
       width: 3rem;
       height: 0.25rem;
       background-color:$tertiaire;
       position: absolute;
       margin-left:1rem; 
   }
   
   
   .coeurs{
       margin:0px;
   }
   .coeur1{
    position:absolute;
    justify-content: center;
    align-items: center;
    padding-right:20px ;
    padding-top:20px;
}
.coeur2{
    z-index:1;
    color:white;
    justify-content: center;
    align-items: center;
    padding-right:20px ;
    padding-top:20px;
   
}
.coeur:hover{
    .coeur2{
        color:#ff7cf8;
    }
}
   
   section{
      
      width: 320px;
      padding:5px ;
     
      
      
   }
   h4{
   margin-bottom:0px; 
   
   }
   .menu2__entree-1{
       height:55px ;
       background-color:white ;
       border-radius:15px 15px 15px 15px ; 
      margin-top:3rem ;
      box-shadow:10px 5px 5px #a9af90;
      
   }
   .menu2__entree-2{
       height:55px ;
       background-color:white ;
       border-radius:15px 15px 15px 15px ; 
       box-shadow:10px 5px 5px #a9af90;
   }
   .menu2__entree-3{
       height:55px ;
       background-color:white ;
       border-radius:15px 15px 15px 15px ; 
       box-shadow:10px 5px 5px #a9af90;
   }
   .menu2__entree-4{
    height:55px ;
    background-color:white ;
    border-radius:15px 15px 15px 15px ; 
    box-shadow:10px 5px 5px #a9af90;
   }
   .menu2__plat-1{
       height:55px ;
       background-color:white ; 
       border-radius:15px 15px 15px 15px ; 
       margin-top:3rem ; 
       box-shadow:10px 5px 5px #a9af90;
   }
   .menu2__plat-2{
       height:55px ;
       background-color:white ;
       border-radius:15px 15px 15px 15px ; 
       box-shadow:10px 5px 5px #a9af90;
   }
   .menu2__plat-3{
       height:55px ;
       background-color:white ;
       border-radius:15px 15px 15px 15px ; 
       box-shadow:10px 5px 5px #a9af90;
   }
   .menu2__dessert-1{
       height:55px ;
       background-color:white ;
       border-radius:15px 15px 15px 15px ; 
       margin-top: 3rem;
       box-shadow:10px 5px 5px #a9af90; 
   }
   .menu2__dessert-2{
       height:55px ;
       background-color:white ;
       border-radius:15px 15px 15px 15px ;
       box-shadow:10px 5px 5px #a9af90; 
   }
   .menu2__dessert-3{
       height:55px ;
       background-color:white ;
       border-radius:15px 15px 15px 15px ; 
       box-shadow:10px 5px 5px #a9af90; 
   }
   
   .menu2__fixe{
       display: flex;
       justify-content: center;
       align-items: center;
       gap:2rem;
       
       
   }
   .menu2__fixe-1{
       padding:2px ;
       display: flex;
       justify-content: center;
       align-items: center;
       gap:2rem;
       
   }
   .menu2__fixe-2{
       display: flex;
       justify-content: center;
       align-items: center;
       gap:2rem;
       
   }
   .menu2__fixe-3{
       display: flex;
       justify-content: center;
       align-items: center;
       
       
   }
   .menu2__fixe-4{
       display: flex;
       justify-content: center;
       align-items: center;
       gap:1rem
       
   }
   .menu2__fixe-5{
       display: flex;
       justify-content: center;
       align-items: center;
       gap:4rem;
       
   }
   .menu2__fixe-6{
       display: flex;
       justify-content: center;
       align-items: center;
       gap:1rem; 
       
   }
   .menu2__fixe-7{
       display: flex;
       justify-content: center;
       align-items: center;
       gap:2rem;
       
            
   }
   .menu2__fixe-8{
       display: flex;
       justify-content: center;
       align-items: center;
       gap:6rem; 
          
   }
   .menu2__fixe-9{
    display: flex;
    justify-content: center;
    align-items: center;
    gap:10rem; 
   }
   
   .menu-info-1{
       
     justify-content: center;  
     align-items: center;
   }
  
   .globalmenu-2{
       display:grid;
        grid-template-columns: repeat(3,1fr);
       column-gap: 0,75rem;
   }
   .btn2{
       display: flex;
       justify-content: center;
       align-items: center;
      width:120px ;
       border: 0;
       padding: 0.75rem 1.5rem;
       font-weight: 500;
       font-size: 1.1rem;
       border-radius: 100px;
       color: #fff;
       background-color: #686868;
       background-image: linear-gradient(0deg,rgba(147,86,220,.9),rgba(255,121,218,.9));
       transition-duration: .25s;
       box-shadow: 0.25rem 0.25rem 10px rgb(0 0 0 / 25%);
       cursor: pointer;
       margin-left:40% ;
       margin-bottom:20px ;
       @media (max-width:500px) {
         display: flex; 
         justify-content: center; 
         align-items: center;
       }
   }
   .commande{
     margin-top:20px ;
     justify-content: center;
     align-items: center;
    
   }
   
   h4{
       padding:4px ;
       margin-left:4px ;
   }
   p{
       padding:4px;
       margin-left:4px ;
   }
   p.prix{
       padding: 8px;
       
      
   }
   .globalmenu{
   @media (max-width:800px) {
       display: flex;
       flex-direction: column;  
   }
   }