
.coeurs {
    margin: 0px;
}





.menu3__entree-1 {
    height: 55px;
    background-color: white;
    border-radius: 15px 15px 15px 15px;
    margin-top: 3rem;
    margin-left: 1rem;
    margin-right: 1rem;
    cursor: pointer;
    box-shadow: 10px 5px 5px #a9af90;
    overflow: hidden;

    &:hover {
        .true {
            margin-right: 0px;
        }
    }
}

.menu3__entree-2 {
    height: 55px;
    background-color: white;
    border-radius: 15px 15px 15px 15px;
    box-shadow: 10px 5px 5px #a9af90;
    margin-top: 3rem;
    margin-left: 1rem;
    margin-right: 1rem;
    cursor: pointer;
    overflow: hidden;

    &:hover {
        .true {
            margin-right: 0px;
        }
    }
}

.menu3__entree-3 {
    height: 55px;
    background-color: white;
    border-radius: 15px 15px 15px 15px;
    box-shadow: 10px 5px 5px #a9af90;
    margin-top: 3rem;
    margin-left: 1rem;
    margin-right: 1rem;
    cursor: pointer;
    overflow: hidden;

    &:hover {
        .true {
            margin-right: 0px;
        }
    }
}

.menu3__plat-1 {
    height: 55px;
    background-color: white;
    border-radius: 15px 15px 15px 15px;
    box-shadow: 10px 5px 5px #a9af90;
    margin-top: 3rem;
    margin-left: 1rem;
    margin-right: 1rem;
    cursor: pointer;
    overflow: hidden;

    &:hover {
        .true {
            margin-right: 0px;
        }
    }
}

.menu3__plat-2 {
    height: 55px;
    background-color: white;
    border-radius: 15px 15px 15px 15px;
    box-shadow: 10px 5px 5px #a9af90;
    margin-top: 3rem;
    margin-left: 1rem;
    margin-right: 1rem;
    cursor: pointer;
    overflow: hidden;

    &:hover {
        .true {
            margin-right: 0px;
        }
    }
}

.menu3__plat-3 {
    height: 55px;
    background-color: white;
    border-radius: 15px 15px 15px 15px;
    box-shadow: 10px 5px 5px #a9af90;
    margin-top: 3rem;
    margin-left: 1rem;
    margin-right: 1rem;
    cursor: pointer;
    overflow: hidden;

    &:hover {
        .true {
            margin-right: 0px;
        }
    }
}

.menu3__dessert-1 {
    height: 55px;
    background-color: white;
    border-radius: 15px 15px 15px 15px;
    box-shadow: 10px 5px 5px #a9af90;
    margin-top: 3rem;
    margin-left: 1rem;
    margin-right: 1rem;
    cursor: pointer;
    overflow: hidden;

    &:hover {
        .true {
            margin-right: 0px;
        }
    }
}

.menu3__dessert-2 {
    height: 55px;
    background-color: white;
    border-radius: 15px 15px 15px 15px;
    box-shadow: 10px 5px 5px #a9af90;
    margin-top: 3rem;
    margin-left: 1rem;
    margin-right: 1rem;
    overflow: hidden;
    cursor: pointer;

    &:hover {
        .true {
            margin-right: 0px;
        }
    }
}

.menu3__dessert-3 {
    height: 55px;
    background-color: white;
    border-radius: 15px 15px 15px 15px;
    box-shadow: 10px 5px 5px #a9af90;
    margin-top: 3rem;
    margin-left: 1rem;
    margin-right: 1rem;
    cursor: pointer;
    overflow: hidden;

    &:hover {
        .true {
            margin-right: 0px;
        }
    }
}

.menu3__fixe {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 55px;

}

.menu3__fixe-1 {
    padding: 2px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 55px;
}

.menu3__fixe-2 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 55px;
}

.menu3__fixe-3 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 55px;

}

.menu3__fixe-4 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 55px;
}

.menu3__fixe-5 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 55px;

}

.menu3__fixe-6 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 55px;
}

.menu3__fixe-7 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 55px;

}

.menu3__fixe-8 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 55px;
}



.menu-info-1 {

    justify-content: center;
    align-items: center;
}





 

p {
    padding: 4px;
    margin-left: 4px;
}

p.prix {
    padding: 8px;


}





