.menu2__entree-1 {
    height: 55px;
    background-color: white;
    border-radius: 15px 15px 15px 15px;
    margin-top: 3rem;
    margin-left: 1rem;
    margin-right: 1rem;
    box-shadow: 10px 5px 5px #a9af90;
    cursor: pointer;
    overflow: hidden;

    &:hover {
        .true {
            margin-right: 0px;
        }
    }
}

.menu2__entree-2 {
    height: 55px;
    background-color: white;
    border-radius: 15px 15px 15px 15px;
    box-shadow: 10px 5px 5px #a9af90;
    margin-top: 3rem;
    margin-left: 1rem;
    margin-right: 1rem;
    cursor: pointer;
    overflow: hidden;

    &:hover {
        .true {
            margin-right: 0px;
        }
    }
}

.menu2__entree-3 {
    height: 55px;
    background-color: white;
    border-radius: 15px 15px 15px 15px;
    box-shadow: 10px 5px 5px #a9af90;
    margin-top: 3rem;
    margin-left: 1rem;
    margin-right: 1rem;
    cursor: pointer;
    overflow: hidden;

    &:hover {
        .true {
            margin-right: 0px;
        }
    }
}

.menu2__entree-4 {
    height: 55px;
    background-color: white;
    border-radius: 15px 15px 15px 15px;
    box-shadow: 10px 5px 5px #a9af90;
    margin-top: 3rem;
    margin-left: 1rem;
    margin-right: 1rem;
    cursor: pointer;
    overflow: hidden;

    &:hover {
        .true {
            margin-right: 0px;
        }
    }
}

.menu2__plat-1 {
    height: 55px;
    background-color: white;
    border-radius: 15px 15px 15px 15px;
    box-shadow: 10px 5px 5px #a9af90;
    margin-top: 3rem;
    margin-left: 1rem;
    margin-right: 1rem;
    cursor: pointer;
    overflow: hidden;

    &:hover {
        .true {
            margin-right: 0px;
        }
    }
}

.menu2__plat-2 {
    height: 55px;
    background-color: white;
    border-radius: 15px 15px 15px 15px;
    box-shadow: 10px 5px 5px #a9af90;
    margin-top: 3rem;
    margin-left: 1rem;
    margin-right: 1rem;
    cursor: pointer;
    overflow: hidden;

    &:hover {
        .true {
            margin-right: 0px;
        }
    }
}

.menu2__plat-3 {
    height: 55px;
    background-color: white;
    border-radius: 15px 15px 15px 15px;
    box-shadow: 10px 5px 5px #a9af90;
    margin-top: 3rem;
    margin-left: 1rem;
    margin-right: 1rem;
    cursor: pointer;
    overflow: hidden;

    &:hover {
        .true {
            margin-right: 0px;
        }
    }
}

.menu2__dessert-1 {
    height: 55px;
    background-color: white;
    border-radius: 15px 15px 15px 15px;
    margin-top: 3rem;
    margin-left: 1rem;
    margin-right: 1rem;
    cursor: pointer;
    box-shadow: 10px 5px 5px #a9af90;
    overflow: hidden;

    &:hover {
        .true {
            margin-right: 0px;
        }
    }
}

.menu2__dessert-2 {
    height: 55px;
    background-color: white;
    border-radius: 15px 15px 15px 15px;
    box-shadow: 10px 5px 5px #a9af90;
    margin-top: 3rem;
    margin-left: 1rem;
    margin-right: 1rem;
    cursor: pointer;
    overflow: hidden;

    &:hover {
        .true {
            margin-right: 0px;
        }
    }
}

.menu2__dessert-3 {
    height: 55px;
    background-color: white;
    border-radius: 15px 15px 15px 15px;
    box-shadow: 10px 5px 5px #a9af90;
    margin-top: 3rem;
    margin-left: 1rem;
    margin-right: 1rem;
    cursor: pointer;
    overflow: hidden;

    &:hover {
        .true {
            margin-right: 0px;
        }
    }
}

.menu2__fixe {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 55px;

}

.menu2__fixe-1 {
    padding: 2px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 55px;
}

.menu2__fixe-2 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 55px;
}

.menu2__fixe-3 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 55px;

}

.menu2__fixe-4 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 55px;
}

.menu2__fixe-5 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 55px;
}

.menu2__fixe-6 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 55px;
}

.menu2__fixe-7 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 55px;

}

.menu2__fixe-8 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 55px;
}

.menu2__fixe-9 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 55px;
}





.true {
    background-color: $tertiaire ;
    width: 55px;
    height: 55px;
    display: grid;
    place-items: center;
    border-radius: 0 1rem 1rem 0;
    margin-right: -55px;
    transition: 1s;
}