body{
 background-color:pink ;  
 }
.logo{
    text-align:center ;
    padding:2rem 1rem 1rem; 
    position:relative;
}
.ohmyfood{
  width:160px ; 
}
.toa{
    width:1260;
    height:366; 


}
section{
    width:100%;
    height:600px; ;
}
