/*auteur:baron jacky open-classeroom*/
h1 {
    margin-top: 0px;
    position: relative;
    font-family: Shrikhand;
}

h2.palette {
    font-family: Shrikhand;
    padding-top: 2rem;
}

h3 {
    position: relative;
    text-transform: uppercase;
    padding-bottom: 0, 25rem;
    font-weight: 400;
    margin-top: 0px;
}

h4 {
    margin-top: 2px;
    margin-bottom: 2px;
    padding: 4px;
    margin-left: 4px;
}

body {
    background-color: #F2F2F2;
    margin: 0px;
    font-family: Roboto, sans-serif;
}

main {
    margin: 0;
    box-sizing: border-box;
}

/*haut de la page */
.ohmyfood {
    width: 160px;
    position: relative;
    font-family: Shrikhand;
}

.header-logo {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    text-align: center;
    position: relative;
    padding: 2rem 1rem 1rem;
}

.fleche-retour {
    display: block;
    position: absolute;
    left: 50px;
    bottom: 45px;
}

.menu-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    margin-top: -3rem;
    border-radius: 50px 50px 0 0;
    background-color: $fondgris;
    margin-bottom: 0px;
}

/*les images*/
.image-menu-1 {
    background-image: url(images/restaurants/jay-wennington-N_Y88TWmGwA-unsplash.jpg);
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 300px;
}

.image-menu-2 {
    background-image: url(images/restaurants/stil-u2Lp8tXIcjw-unsplash.jpg);
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 300px;
}

.image-menu-3 {
    background-image: url(images/restaurants/toa-heftiba-DQKerTsQwi0-unsplash.jpg);
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 300px;
}

.image-menu-4 {
    background-image: url(images/restaurants/louis-hansel-shotsoflouis-qNBGVyOCY8Q-unsplash.jpg);
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 300px;
}

/*le coeur*/
.coeurs {
    margin: 0px;
}

.coeur1 {
    position: absolute;
    justify-content: center;
    align-items: center;
    padding-right: 20px;
    padding-top: 20px;
}

.coeur2 {
    z-index: 1;
    color: white;
    justify-content: center;
    align-items: center;
    padding-right: 20px;
    padding-top: 20px;
}

.coeur:hover {
    .coeur2 {
        color: #ff7cf8;
        transition: 2s;

    }
}

/*les menus*/
.globalmenu {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
    padding-left: 5px;
    padding-right: 5px;
}

.trait-1 {
    content: "";
    width: 3rem;
    height: 0.25rem;
    background-color: $tertiaire;
    position: absolute;
    margin-left: 1rem;
}

.trait-2 {
    content: "";
    width: 3rem;
    height: 0.25rem;
    background-color: $tertiaire;
    position: absolute;
    margin-left: 1rem;
}

.trait-3 {
    content: "";
    width: 3rem;
    height: 0.25rem;
    background-color: $tertiaire;
    position: absolute;
    margin-left: 1rem;
}

.texte-restaurant-bloc-1 {
    cursor: pointer;
}

.texte-restaurant-bloc-2 {
    cursor: pointer;
}

.texte-restaurant-bloc-3 {
    cursor: pointer;
}

.texte-restaurant-bloc-4 {
    cursor: pointer;
}

/*les entrees*/
.entrees {
    width: 32%;
}

h3.menu-entree {
    margin-bottom: 5px;
    margin-top: 35px;
    opacity: 60%;
    font-size: 1rem;
    padding-left: 1rem;
}

.menu__entree-1 {
    height: 4rem;
    width: auto;
    background-color: white;
    border-radius: 15px 15px 15px 15px;
    margin-top: 2rem;
    margin-left: 1rem;
    margin-right: 1rem;
    box-shadow: 10px 5px 5px #a9af90;
    cursor: pointer;
    overflow: hidden;

    &:hover {
        .true {
            margin-right: 0px;
        }

        i {
            animation: quarterspin 1s ease-in-out;
        }
    }
}

.menu__entree-2 {
    height: 4rem;
    width: auto;
    background-color: white;
    border-radius: 15px 15px 15px 15px;
    box-shadow: 10px 5px 5px #a9af90;
    cursor: pointer;
    margin-top: 2rem;
    margin-left: 1rem;
    margin-right: 1rem;
    overflow: hidden;

    &:hover {
        .true {
            margin-right: 0px;
        }

        i {
            animation: quarterspin 1s ease-in-out;
        }
    }
}

.menu__entree-3 {
    height: 4rem;
    width: auto;
    background-color: white;
    border-radius: 15px 15px 15px 15px;
    box-shadow: 10px 5px 5px #a9af90;
    cursor: pointer;
    margin-top: 2rem;
    margin-left: 1rem;
    margin-right: 1rem;
    overflow: hidden;

    &:hover {
        .true {
            margin-right: 0px;
        }

        i {
            animation: quarterspin 1s ease-in-out;
        }
    }
}

.menu__entree-3-2 {
    height: 4rem;
    width: auto;
    background-color: white;
    border-radius: 15px 15px 15px 15px;
    box-shadow: 10px 5px 5px #a9af90;
    margin-top: 2rem;
    margin-left: 1rem;
    margin-right: 1rem;
    cursor: pointer;
    overflow: hidden;

    &:hover {
        .true {
            margin-right: 0px;
        }

        i {
            animation: quarterspin 1s ease-in-out;
        }
    }
}

.menu-info-1 {
    justify-content: center;
    align-items: center;
}

/*les plats*/
.plats {
    width: 32%;
}

h3.menu-plat {
    margin-top: 35px;
    margin-bottom: 5px;
    opacity: 60%;
    font-size: 1rem;
    padding-left: 1rem;
}

.menu__plat-1 {
    height: 4rem;
    width: auto;
    background-color: white;
    border-radius: 15px 15px 15px 15px;
    box-shadow: 10px 5px 5px #a9af90;
    cursor: pointer;
    margin-top: 2rem;
    margin-left: 1rem;
    margin-right: 1rem;
    overflow: hidden;

    &:hover {
        .true {
            margin-right: 0px;
        }

        i {
            animation: quarterspin 1s ease-in-out;
        }
    }
}

.menu__plat-2 {
    height: 4rem;
    width: auto;
    background-color: white;
    border-radius: 15px 15px 15px 15px;
    box-shadow: 10px 5px 5px #a9af90;
    cursor: pointer;
    margin-top: 2rem;
    margin-left: 1rem;
    margin-right: 1rem;
    overflow: hidden;

    &:hover {
        .true {
            margin-right: 0px;
        }

        i {
            animation: quarterspin 1s ease-in-out;
        }
    }
}

.menu__plat-3 {
    height: 4rem;
    width: auto;
    background-color: white;
    border-radius: 15px 15px 15px 15px;
    box-shadow: 10px 5px 5px #a9af90;
    cursor: pointer;
    margin-top: 2rem;
    margin-left: 1rem;
    margin-right: 1rem;
    overflow: hidden;

    &:hover {
        .true {
            margin-right: 0px;
        }

        i {
            animation: quarterspin 1s ease-in-out;
        }
    }
}

.menu-info-2 {
    justify-content: center;
    align-items: center;
}

/*les desserts*/
.desserts {
    width: 32%;
}

h3.menu-dessert {
    margin-top: 35px;
    margin-bottom: 5px;
    opacity: 60%;
    font-size: 1rem;
    padding-left: 1rem;
}

.menu__dessert-1 {
    height: 4rem;
    width: auto;
    background-color: white;
    border-radius: 15px 15px 15px 15px;
    box-shadow: 10px 5px 5px #a9af90;
    cursor: pointer;
    margin-top: 2rem;
    margin-left: 1rem;
    margin-right: 1rem;
    overflow: hidden;

    &:hover {
        .true {
            margin-right: 0px;
        }

        i {
            animation: quarterspin 1s ease-in-out;
        }
    }
}

.menu__dessert-2 {
    height: 4rem;
    width: auto;
    background-color: white;
    border-radius: 15px 15px 15px 15px;
    box-shadow: 10px 5px 5px #a9af90;
    cursor: pointer;
    margin-top: 2rem;
    margin-left: 1rem;
    margin-right: 1rem;
    overflow: hidden;

    &:hover {
        .true {
            margin-right: 0px;
        }

        i {
            animation: quarterspin 1s ease-in-out;
        }
    }
}

.menu__dessert-3 {
    height: 4rem;
    width: auto;
    background-color: white;
    border-radius: 15px 15px 15px 15px;
    box-shadow: 10px 5px 5px #a9af90;
    cursor: pointer;
    margin-top: 2rem;
    margin-left: 1rem;
    margin-right: 1rem;
    overflow: hidden;

    &:hover {
        .true {
            margin-right: 0px;
        }

        i {
            animation: quarterspin 1s ease-in-out;
        }
    }
}

.menu-info-3 {
    justify-content: center;
    align-items: center;
}

/*pour les animations menu*/
.menu__composition-tarif1,
.menu__composition-tarif2,
.menu__composition-tarif3,
.menu__composition-tarif4,
.menu__composition-tarif5,
.menu__composition-tarif6,
.menu__composition-tarif7,
.menu__composition-tarif8,
.menu__composition-tarif9,
.menu__composition-tarif3-2 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.true {
    background-color: $tertiaire ;
    width: 4rem;
    height: 4rem;
    display: flex;
    place-items: center;
    border-radius: 0 1rem 1rem 0;
    margin-right: -4rem;
    transition: 1s;
    justify-content: center;
    align-items: center;
}

.menu__composition-tarif1 div:first-child,
.menu__composition-tarif2 div:first-child,
.menu__composition-tarif3 div:first-child,
.menu__composition-tarif4 div:first-child,
.menu__composition-tarif5 div:first-child,
.menu__composition-tarif6 div:first-child,
.menu__composition-tarif7 div:first-child,
.menu__composition-tarif8 div:first-child,
.menu__composition-tarif9 div:first-child,
.menu__composition-tarif3-2 div:first-child {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.menu-text {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    margin-left: 10px;
}

h4 {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    margin-left: 6px;
}

/*items*/
.fa-circle-check {
    background-color: white;
    border-radius: 50%;
    color: $tertiaire;
}

.price {
    background-color: white;
    padding: 4px;
    display: flex;
    align-items: flex-end;
}

p.prix {
    padding: 8px;
}

.prix {
    display: flex;
    justify-content: end;
}

/*le bouton*/
.btn2 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 28px;
    background-color: #686868;
    color: #fff;
    background-image: linear-gradient(0deg, $primaire, $secondaire);
    padding: 0.75rem 1.5rem;
    border-radius: 100px;
    cursor: pointer;
    filter: brightness(1);

    &:hover {
        transition-duration: .25s;
        filter: brightness(1.75);
        box-shadow: 5px 5px grey;
    }
}

.commander {
    margin-top: 3rem;
    margin-bottom: 5rem;
    align-items: center;
    justify-content: center;
    display: grid;
}

/*le "footer"*/
a.mail {
    color: white;
}

@keyframes appear {
    0% {
        transform: translateY(50%);
        opacity: 0;
    }

    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes quarterspin {
    0% {
        transform: rotate(-270deg);
    }

    100% {
        transform: rotate(0);
    }
}

.menu__entree-1,
.menu__entree-2,
.menu__entree-3,
.menu__entree-3-2 {
    animation: appear 1s;
    opacity: 0;
    width: 100%;
    animation-fill-mode: forwards;
    width: 100%;
}

.menu__entree-1 {
    animation-delay: 1500ms;
}

.menu__entree-2 {
    animation-delay: 1800ms;
}

.menu__entree-3 {
    animation-delay: 2s;
}

.menu__entree-3-2 {
    animation-delay: 2100ms;
}

.menu__plat-1,
.menu__plat-2,
.menu__plat-3 {
    animation: appear 2200ms;
    opacity: 0;
    width: 100%;
    animation-fill-mode: forwards;
    width: 100%;
}

.menu__plat-1 {
    animation-delay: 2400ms;
}

.menu__plat-2 {
    animation-delay: 2900ms;
}

.menu__plat-3 {
    animation-delay: 3300ms;
}

.menu__dessert-1,
.menu__dessert-2,
.menu__dessert-3 {
    animation: appear 3200ms;
    opacity: 0;
    width: 100%;
    animation-fill-mode: forwards;
    width: 100%;
}

.menu__dessert-1 {
    animation-delay: 3900ms;
}

.menu__dessert-2 {
    animation-delay: 4500ms;
}

.menu__dessert-3 {
    animation-delay: 4900ms;
}

@keyframes appear {
    0% {
        transform: translateY(50%);
        opacity: 0;
    }

    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

@media (max-width:800px) {
    section {
        width: auto;
    }

    .globalmenu {
        flex-direction: column;
    }

    html {
        width: 100%;
    }

    .entrees,
    .plats,
    .desserts {
        width: 94%;
    }
}

@media (max-width:500px) {
    .fleche-retour {
        bottom: 45px;
    }
}