.menu4__entree-1 {
    height: 55px;
    background-color: white;
    border-radius: 15px 15px 15px 15px;
    box-shadow: 10px 5px 5px #a9af90;
    margin-top: 3rem;
    margin-left: 1rem;
    margin-right: 1rem;
    cursor: pointer;
    overflow: hidden;

    &:hover {
        .true {
            margin-right: 0px;
        }
    }

}

.menu4__entree-2 {
    height: 55px;
    background-color: white;
    border-radius: 15px 15px 15px 15px;
    box-shadow: 10px 5px 5px #a9af90;
    margin-top: 3rem;
    margin-left: 1rem;
    margin-right: 1rem;
    cursor: pointer;
    overflow: hidden;

    &:hover {
        .true {
            margin-right: 0px;
        }
    }
}

.menu4__entree-3 {
    height: 55px;
    background-color: white;
    border-radius: 15px 15px 15px 15px;
    box-shadow: 10px 5px 5px #a9af90;
    margin-top: 3rem;
    margin-left: 1rem;
    margin-right: 1rem;
    cursor: pointer;
    overflow: hidden;

    &:hover {
        .true {
            margin-right: 0px;
        }
    }
}

.menu4__plat-1 {
    height: 55px;
    background-color: white;
    border-radius: 15px 15px 15px 15px;
    box-shadow: 10px 5px 5px #a9af90;
    margin-top: 3rem;
    margin-left: 1rem;
    margin-right: 1rem;
    cursor: pointer;
    overflow: hidden;

    &:hover {
        .true {
            margin-right: 0px;
        }
    }
}

.menu4__plat-2 {
    height: 55px;
    background-color: white;
    border-radius: 15px 15px 15px 15px;
    box-shadow: 10px 5px 5px #a9af90;
    margin-top: 3rem;
    margin-left: 1rem;
    margin-right: 1rem;
    cursor: pointer;
    overflow: hidden;

    &:hover {
        .true {
            margin-right: 0px;
        }
    }
}

.menu4__plat-3 {
    height: 55px;
    background-color: white;
    border-radius: 15px 15px 15px 15px;
    box-shadow: 10px 5px 5px #a9af90;
    margin-top: 3rem;
    margin-left: 1rem;
    margin-right: 1rem;
    cursor: pointer;
    overflow: hidden;

    &:hover {
        .true {
            margin-right: 0px;
        }
    }
}

.menu4__dessert-1 {
    height: 55px;
    background-color: white;
    border-radius: 15px 15px 15px 15px;
    box-shadow: 10px 5px 5px #a9af90;
    margin-top: 3rem;
    margin-left: 1rem;
    margin-right: 1rem;
    cursor: pointer;
    overflow: hidden;

    &:hover {
        .true {
            margin-right: 0px;
        }
    }
}

.menu4__dessert-2 {
    height: 55px;
    background-color: white;
    border-radius: 15px 15px 15px 15px;
    box-shadow: 10px 5px 5px #a9af90;
    margin-top: 3rem;
    margin-left: 1rem;
    margin-right: 1rem;
    cursor: pointer;
    overflow: hidden;

    &:hover {
        .true {
            margin-right: 0px;
        }
    }
}

.menu4__dessert-3 {
    height: 55px;
    background-color: white;
    border-radius: 15px 15px 15px 15px;
    box-shadow: 10px 5px 5px #a9af90;
    margin-top: 3rem;
    margin-left: 1rem;
    margin-right: 1rem;
    cursor: pointer;
    overflow: hidden;

    &:hover {
        .true {
            margin-right: 0px;
        }
    }
}



.menu4-fixe {

    padding: 2px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 55px;

}

.menu4-fixe-1 {

    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 55px;

}

.menu4-fixe-2 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 55px;
}

.menu4-fixe-3 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 55px;

}

.menu4-fixe-4 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 55px;

}

.menu4-fixe-5 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 55px;

}

.menu4-fixe-6 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 55px;

}

.menu4-fixe-7 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 55px;
}

.menu4-fixe-8 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 55px;
}



 




