/*auteur:baron jacky
url:Users/macbook/Documents/projets/projet_3_baron_jacky%203%203/index.html
page d'acceuil restaurant "ohmyfood"
cartes restaurant avec liens vers les menus
avec des animations et affichable sur i phone 6 7 8
*/
/*loader spinner*/
.move {
    position: fixed;
    display: grid;
    place-items: center;
    background-color: #FFF;
    height: 100vh;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    inset: 0rem;
    z-index: 1;
    opacity: 0, 9;
}

@keyframes dissapears {
    0% {
        transform: scale(1);
    }

    100% {
        transform: scale(0);
    }
}

.move {
    animation: dissapears 200ms;
    animation-fill-mode: forwards;
    transform-origin: top;
    animation-delay: 5s;
}

.fa-3x {
    color: $primaire;

}

/*fonctions haut de page avec la premiere section*/
.html {
    width: 100%;
    margin: 0px;
}

body {

    font-family: 'Roboto', sans-serif;


}

main {

    background-color: #F3F3F3;
}

.localisation-1 {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    background-color: #eaeaea;
    text-align: center;
    padding: 1rem;

    margin-bottom: 1rem;
}

.localisation-2 {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    background-color: #F3F3F3;
    text-align: center;


}


i.fa-solid.fa-store {
    color: $primaire;
}

i.fa.fa-mobile {
    opacity: 50%;
}

.fa-list-ul:before {
    padding: 10px;
}


i.fa.fa-list-ul {
    opacity: 50%;
}

i.fa-solid.fa-location-dot {
    opacity: 80%;
}

p {

    justify-content: center;
    align-items: center;
    margin: 0px;
}

i fas {
    margin-right: 1rem;

}

li ::marker {
    color: transparent;
}



a {
    text-decoration: none;
}

h1.acceuil {

    background-color: #FFF;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    margin: 0px;
    

}

h2.acceuil {
    text-align: center;
    margin-top: 2rem;
font-weight: 100;
}

p.sous-titre-acceuil {

    margin-bottom: 2rem;
    text-align: center;
    opacity: calc(50%);
    font-size: large;
}

/*titre h3*/
.subtitle {
    text-transform: none;
    padding-bottom: 0;
    padding: 1rem;
    font-weight:bold;

}

h3.subtitle {
    font-size: x-large;
    
}

.search {
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: auto;

    background-color: #686868;
    color: #fff;
    background-image: linear-gradient(0deg, $primaire, $secondaire);
    padding: 0px 24px;
    border-radius: 100px;
    cursor: pointer;
    filter: brightness(1);

    &:hover {
        transition-duration: .25s;
        filter: brightness(1.75);
        box-shadow: 0.25rem 0.25rem 10px rgb(0 0 0 / 25%);
    }


}

.button {
    display: flex;
    justify-content: center;
    padding-bottom: 6rem;
}

/*la deuxieme section fonctionnement*/
.operation-1 {
    position: relative;

}

.operation-2 {
    position: relative;


}

.operation-3 {
    position: relative;

}

li.operation-2 {
    padding-left: 0;
}


.chiffre {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    background-color: $primaire;
    position: absolute;
    left: -15px;
    top: calc(50% - 10px);
    width: 25px;
    height: 25px;
    border-radius: 50%;
}

.chiffre2 {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    background-color: $primaire;
    position: absolute;
    left: -15px;
    top: calc(50% - 10px);
    width: 25px;
    height: 25px;
    border-radius: 50%;
}

.chiffre3 {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    background-color: $primaire;
    position: absolute;
    left: -15px;
    top: calc(50% - 10px);
    width: 25px;
    height: 25px;
    border-radius: 50%;

}


.operations {
    & ol {
        display: flex;
        padding:1rem 1rem;
        gap:2rem;
    }

    & li {
        border-radius: 1rem;
        background-color: #F2F2F2;
        padding: 1rem 1rem;
        flex-grow: 1;
        height: 30px;
        display: flex;
        justify-content: space-around;
        align-items: center;
        box-shadow: 0px 5px 5px 5px #D5D9E0;

    }
}

/*la troisieme section cards*/
.card {
    padding: 1rem;

}



.coeur1 {
    position: absolute;
    justify-content: center;
    align-items: center;
    padding-right: 15px;
    padding-top: 20px;

}

.coeur2 {
    z-index: 1;
    color: white;
    justify-content: center;
    align-items: center;
    padding-right: 15px;
    padding-top: 20px;

}

.coeur:hover {
    .coeur2 {
        color: #ff7cf8;

    }

    .coeur1 {
        color: transparent;
    }
}


.image-1 {
    background-image: url(images/restaurants/jay-wennington-N_Y88TWmGwA-unsplash.jpg);
    background-size:cover;
    
    background-position:bottom;
    height:220px;
    width: 100%;
    border-radius: 15px 15px 0 0;
    position: relative;
    cursor: pointer;

}

.image-2 {
    background-image: url(images/restaurants/stil-u2Lp8tXIcjw-unsplash.jpg);
    background-size: cover;
    background-position-y:-200px ;
    height: 220px;
    width: 100%;
    border-radius: 15px 15px 0 0;
    position: relative;
    cursor: pointer;
}

span.new {
    background-color: $tertiaire;
    color: $blues;
    position: absolute;
    border-radius:2px;
    top:17px;
    right: 20px;
    padding: 7px;
    border-radius:2px;
    width:90px ;
    height:22px;
}
.neu{
    display: flex;
    justify-content: center;
    align-items: center;
    width:80px;
    font-size: large;
    font-weight:bold ;
}
.image-3 {
    background-image: url(images/restaurants/toa-heftiba-DQKerTsQwi0-unsplash.jpg);
    background-size: cover;
    background-position:bottom;
    height: 230px;
    width: 100%;
    border-radius: 15px 15px 0 0;
    cursor: pointer;

}

.image-4 {
    background-image: url(images/restaurants/louis-hansel-shotsoflouis-qNBGVyOCY8Q-unsplash.jpg);
    background-size: cover;
    background-position:bottom;
    height: 230px;
    width: 100%;
    border-radius: 15px 15px 0 0;
    cursor: pointer;
}

.texte-restaurant-bloc-1 {
    .text-position {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    align-items:center;
    border-radius: 0 0 10px 10px;
    height:70px;
    width: 100%;
    background-color: #fff;

}

.texte-restaurant-bloc-2 {
    .text-position {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    align-items:center;
    border-radius: 0 0 10px 10px;
    height:70px;
    width: 100%;
    background-color:#fff;

}

.texte-restaurant-bloc-3 {
    .text-position {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    align-items:center;
    border-radius: 0 0 10px 10px;
    height:70px;
    width:100%;
    background-color:#fff;

}

.texte-restaurant-bloc-4 {
    .text-position {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    align-items:center;
    border-radius: 0 0 10px 10px;
    height:70px;
    width: 100%;
    background-color:#fff;

}

.secteur {
    opacity: 80%;
    margin-left: 0;
    padding-left: 0;
}

.card__mot1 {

    padding-left: 15px;
    padding-top: 15px;
    color: black;
    cursor: pointer;
}

.card__mot2 {
    padding-left: 15px;
    padding-top: 15px;
    color: black;
    cursor: pointer;
}

.card__mot3 {
    padding-left: 15px;
    padding-top: 15px;
    color: black;
    cursor: pointer;
}

.card__mot4 {
    padding-left: 15px;
    padding-top: 15px;
    color: black;
    cursor: pointer;
}

/*footer*/
.footer-title {
    padding-top: 40px;
    padding-left: 20px;
    padding-bottom: 20px;
    font-family: shrikhand;
    font-size: large;

}

footer {
    background-color: $foot;
    color: white;
    height: 225px;

}

a.mail {
    color: white;
}

.footer-1 {
    padding-left: 20px;
    padding-bottom: 10px;
}

.footer-2 {
    padding-left: 20px;
    padding-bottom: 10px;

}

.footer-3 {
    padding-left: 20px;
    padding-bottom: 10px;
}

.footer-4 {
    padding-left: 20px;

    cursor: pointer;
}


    .cards {
        display: flex;
        flex-direction: column;
    }


.operations {
    & ol {
        
            flex-direction: column;
        }

    }   
   @media screen and (min-width:768px) {
    .operations{
       & ol {     
        flex-direction: row;
       }
    }
        }
        @media screen and (min-width:768px) {
            .globalmenu{
                flex-direction: row;
            }
            .entrees,.plats,.desserts{
                width:30%;
            }
        }
        @media  screen and (min-width:768px) {
            .cards{
                
                    display: grid;
                    grid-template-rows: 1fr 1fr;
                    grid-template-columns: 1fr 1fr;
                
                }   
            }
       
    
    

