body{
text{
    font-family: 'Roboto' , sans-serif;
}
margin:0px ;
}
.btn {
  padding: 1.5rem;
  background: #15DEA5;
  cursor: pointer;
  border-radius: 100rem;
  font-size: 1.5rem;
  color: #fff;
}

.html{
    width:100%;
    margin:0px ;
}
.image-1{                                                                              
    background-image:url(images/restaurants/jay-wennington-N_Y88TWmGwA-unsplash.jpg);
    background-size: cover;
    background-position:center;
    height:192px;
    width: 100%;
    border-radius:15px 15px 0 0 ;
    position:relative;
    cursor:pointer ;
    
}
.image-2{                                                                              
    background-image:url(images/restaurants/stil-u2Lp8tXIcjw-unsplash.jpg);
    background-size: cover;
    background-position:center;
    height:192px;
    width: 100%;
    border-radius:15px 15px 0 0 ;
    position:relative;
    cursor:pointer ;
}
    .image-3{                                                                            
        background-image:url(images/restaurants/toa-heftiba-DQKerTsQwi0-unsplash.jpg);
        background-size: cover;
        background-position:center;
        height:192px;
        width:100%;
        border-radius:15px 15px 0 0 ;
        cursor:pointer ;
    }
    .image-4{                                                                            
        background-image:url(images/restaurants/louis-hansel-shotsoflouis-qNBGVyOCY8Q-unsplash.jpg);
        background-size: cover;
        background-position:center;
        height:192px;
        width: 100%;
        border-radius:15px 15px 0 0 ;
        cursor:pointer ;
    }
   
    
    .texte-restaurant-bloc-1{
        cursor:pointer ;
        align-items:center;
        background-color:white;
        border-radius: 0 0 10px 10px;
        height:70px ;
        width: 400px;
        background-color:yellowgreen ;
      
    }
    .texte-restaurant-bloc-2{
        cursor:pointer ;
        align-items:center;
        background-color:white;
        border-radius: 0 0 10px 10px;
        height:70px ;
        width: 400px;
        background-color:yellowgreen ;
        @media (max-width:800px) {
            margin-bottom:20px;
        }
    }
    .texte-restaurant-bloc-3{
        cursor:pointer ;
        align-items:center;
        background-color:white;
        border-radius: 0 0 10px 10px;
        height:70px ;
        width:400px;
        background-color:yellowgreen ;
        @media (max-width:800px) {
            margin-bottom:20px;
        }
    }
    .texte-restaurant-bloc-4{
        cursor:pointer ;
        align-items:center;
        background-color:white;
        border-radius: 0 0 10px 10px;
        height:70px ;
        width: 400px;
        background-color:yellowgreen ;
      
    }
   .ohmyfood-1{
   
    width:40%;
    padding-left:5px ;
    padding-top:5px ;
   
   } 
   .logo-ohmyfood-1{
    display: flex;
    justify-content: center;
    align-items:center ;
   } 
   .ohmyfood-2{
    width:25% ;
    color:white ;
    font-family: Shrikhand,"cursive";
    
}
.loupe{
    display: flex;
    justify-content: center;
    align-items: center ;
    gap: 10px; 
    background-color: #C6CDD7;
    text-align: center;
    padding:0,5rem ;
}
.text1{
    
    margin-top:2rem ;
}
 .text2{
    margin-top:1rem;
    margin-bottom:2rem ;
    
 }
  
   .pass{
    background-color:ƒF2F2F2;
    height:200px ;
    margin-bottom:20px ;
    padding:2rem;
    
   }
   .papa{
    padding:0rem 1rem;
   }
   .search {
    display: flex;
    justify-content: center;
    align-items:center ;
    height: 40px;
    width: 180px;
    color: white;
    cursor: pointer;
    border-radius: 10px 10px 10px 10px;
    background-color:rosybrown ;
    
   }
   .button{
    display: flex;
    justify-content: center;
    align-items:center ;
    margin-top:20px;
    margin-bottom:5rem ;
   }
   p{
    display: flex;
    justify-content: center;
    align-items: center;
    margin:0px;
   }
   .toto{
    & ol {
        display: flex;
         @media (max-width:800px) {
           flex-direction: column; 
        }
         padding:1rem 0rem ;
        gap:2rem;
    }
    & li {
        border-radius:1rem ;
        background-color:#F2F2F2;
        padding:1rem 2rem;
        
        flex-grow: 1;
        height:20px ;
        display: flex;
        justify-content: space-around;
        align-items: center;
        box-shadow:0px 5px 5px 5px #D5D9E0 ;
        
    }
   }
    
  
  footer{
    background-color:black;
    color:white;
    height:225px;
   
  }
  h2{
    padding-left:6%;
    margin-top:0px ;
  }
  h3{
    
    justify-content: center;
    align-items: center;
  }
 .ph-1{
padding-left:5% ;
 }
 .ph-2{
    padding-left:5% ;
    
 }
.ph-3{
    padding-left:6% ;
    padding-top:10px ;
}
.ph-4{
    padding-left:6%;
    padding-top:10px ;
    
}
i fas{
    margin-right:1rem;
    
}
li ::marker{
color: transparent;
}
.roro{
    position: relative;

}
.riri{
    position:relative;

   
}
.ruru{
    position: relative;
   
}
.coeur{
    justify-content: center;
    align-items: center;
    padding-right:20px ;
    padding-top:20px  ;
}
.chiffre{
    display: flex;
    justify-content: center;
    align-items: center;
    color:white;
    background-color:$primaire;
    position:absolute ;
    left:-10px;
    top:calc(50% - 10px);
    width:20px;
    height:20px;
    border-radius:50% ;
}
.chiffre2{
    display: flex;
    justify-content: center;
    align-items: center;
    color:white;
    background-color:$primaire;
    position:absolute;
    left:-10px;
    top:calc(50% - 10px);
    width:20px;
    height:20px;
    border-radius:50% ;
}
.chiffre3{
    display: flex;
    justify-content: center;
    align-items: center;
    color:white;
    background-color:$primaire;
    position: absolute;
    left:-10px;
    top:calc(50% - 10px);
    width:20px;
    height:20px;
    border-radius:50% ;
    
}
.menu{
    background-color:#F2F2F2 ;
    display: flex;
    justify-content: space-between;
    align-items: center;
}



.titi{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.tyty{
    display: flex;
    justify-content: space-between;
    align-items: center;  
}
.tata{
    display: flex;
    justify-content: space-between;
    align-items: center;  
}
.tutu{
    display: flex;
    justify-content: space-between;
    align-items: center;  
}
.log{
    padding-left: 15px;
    padding-top: 15px;
}
.cube-1{
   display: flex;
    justify-content: space-around;
    align-items: center;
@media(max-width:850px) {
  flex-direction: column;

 }
 @media (max-width:800px) {
    margin-bottom:0px ;
}
 gap:1rem ;
 margin-bottom:80px ;
}
.cube-2{
    display: flex;
    justify-content: space-around;
    align-items: center;  
    @media(max-width:850px) {
        flex-direction: column;  
      }   
      margin-bottom:80px ; 
}
i.fa{
    padding:10px ;
}
.mot1{
    padding-left:15px ;
    padding-top: 15px; 
}
.mot2{
    padding-left:15px ;
    padding-top: 15px; 
}
.mot3{
    padding-left:15px ;
    padding-top: 15px; 
}
.mot4{
    padding-left:15px ;
    padding-top: 15px; 
}

li::marker{
color:transparent;
}
h3{
    margin-left:10px ;
}
span.new{
    background-color :$tertiaire;
    color:blue;
    position:absolute;
   border-radius:0,125rem;
   top:1rem;
   left:20rem ;
   padding:7px;
   border-radius:0,125rem ;
}
span.news{
    background-color :$tertiaire;
    color:blue;
    position:absolute;
   border-radius:0,125rem;
   top:1rem;
   left:20rem ;
   padding:7px ;
   border-radius:0,125rem ;
}   
